Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Use SJTC instead of JTC in test
  ur_robot_driver/test/integration_test_hand_back_control.py
Due: none

[tets] Fix shadowed function arg
  ur_robot_driver/test/test_common.py
Due: none

Add robot series to error output on mismatch
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.13.2
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

[tests] Fix shadowed function arg (#1835)
  ur_robot_driver/test/test_common.py
Due: none

Update documentation
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/gravity_update_controller.hpp
  ur_controllers/src/gravity_update_controller.cpp
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
Due: ament_cppcheck, ament_cpplint, clang-format

Humble-specific adaptions
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

REVERT_ME: Enable robot model test in CI
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Allow updating robot gravity (#1606)
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/gravity_update_controller.hpp
  ur_controllers/src/gravity_update_controller.cpp
  ur_controllers/src/gravity_update_controller_parameters.yaml
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Make robot model verification opt-in
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Remove files not present on kilted branch
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
Due: none

Fix merge conflicts
  ur_controllers/doc/index.rst
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make model test independent of full driver launch
  ur_robot_driver/test/integration_test_robot_models.py
  ur_robot_driver/test/test_common.py
Due: none

REVERT_ME: Use description branch with model verification
  Universal_Robots_ROS2_Driver.humble.repos
Due: none

Documentation of action server
  ur_robot_driver/doc/usage/script_code.rst
Due: none

Switch to primary client and implement action server
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Update ur_robot_driver/doc/usage/script_code.rst
  ur_robot_driver/doc/usage/script_code.rst
Due: none

Rename script_code parameter to program
  ur_robot_driver/src/urscript_interface.cpp
  ur_robot_driver/test/urscript_interface.py
Due: ament_cppcheck, ament_cpplint, clang-format

Apply suggestions from code review
  ur_robot_driver/doc/usage/script_code.rst
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Test action server in urscript_interface
  ur_robot_driver/test/urscript_interface.py
Due: none

Reset ur_driver after failed configuration
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Implement cancel and changes from review
  ur_robot_driver/doc/usage/script_code.rst
  ur_robot_driver/src/urscript_interface.cpp
  ur_robot_driver/test/urscript_interface.py
Due: ament_cppcheck, ament_cpplint, clang-format

Run robot model changes on release PRs or when the test file changes
  .github/workflows/reusable_ici.yml
Due: none

Do not require a running robot program
  ur_robot_driver/test/integration_test_robot_models.py
Due: none

handle_cancel will accept if the goal handle is executing
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Apply suggestions from code review
  ur_robot_driver/doc/usage/script_code.rst
Due: none

Update ur_robot_driver/src/urscript_interface.cpp
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Replace linking to moprim controller my using its include directories
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Update model test (#1848)
  .github/workflows/reusable_ici.yml
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_robot_models.py
Due: ament_cppcheck, ament_cpplint, clang-format

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
