Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Docs: The main branch is "main" now
  CONTRIBUTING.md
Due: none

Update package.xml
  ur_robot_driver/package.xml
Due: none

Docs: Corrects forward hardware interfaces & Contributing.md (#1569)
  CONTRIBUTING.md
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Change updated documentation for Humble
  ur_robot_driver/doc/ROS_INTERFACE.md
  ur_robot_driver/doc/dashboard_client.rst
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

4.4.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

3.6.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Resolve conflicts
  .github/workflows/ci-format.yml
  .github/workflows/foxy-binary-build.yml
  .github/workflows/galactic-binary-build.yml
  .github/workflows/reusable_ici.yml
  .github/workflows/sphinx_build.yml
  .github/workflows/update-ci.yml
Due: none

Remove falsely added files
  .github/workflows/coverage-build.yml
  .github/workflows/foxy-binary-build.yml
  .github/workflows/galactic-binary-build.yml
  .github/workflows/sphinx_build.yml
  .github/workflows/update-ci.yml
Due: none

Add kinematics params to servo node
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

Docs: Update tool comm setup for PolyScope X
  ur_robot_driver/doc/setup_tool_communication.rst
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.11.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Docs: Update tool comm setup for PolyScope X (#1588)
  ur_robot_driver/doc/setup_tool_communication.rst
Due: none

Add twist to hardware interface
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Add twist controller
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/include/ur_controllers/twist_controller.hpp
  ur_controllers/src/twist_controller.cpp
  ur_controllers/src/twist_controller_parameters.yaml
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/launch/ur_control.launch.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Change CI runner for rolling_binary_testing
  .github/workflows/reusable_ici.yml
  .github/workflows/rolling-binary-testing.yml
Due: none

Add ros2run as a test_depend
  ur_robot_driver/package.xml
Due: none

Use sub-seconds for timeout configuration, as well
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add parameter callback to dashboard client
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add dashboard_receive_timeout parameter to launchfiles
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_dashboard_client.launch.py
Due: none

Update documentation
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Replace dashboard client on PolyScope X warning
  ur_robot_driver/src/dashboard_client_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add ros2run as a test_depend (#1597)
  ur_robot_driver/package.xml
Due: none

Replace dashboard client on PolyScope X warning (#1599)
  ur_robot_driver/src/dashboard_client_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

[DashboardClient] Add a parameter callback (#1598)
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_dashboard_client.launch.py
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format
