Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Apply suggestion from @urrsk
  ur_robot_driver/test/test_common.py
Due: none

Unlock protective stop
  ur_robot_driver/test/test_common.py
Due: none

Use custom logging for ListControllersResponse
  ur_robot_driver/test/test_common.py
Due: none

Use a while loop instead of a fixed wait
  ur_robot_driver/test/test_common.py
Due: none

[Driver Tests] Unlock protective stop during test case setup (#1641)
  ur_robot_driver/test/test_common.py
Due: none

add sim_time to servo launch file
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

Add gravity ros2 control interfaces
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

changed "gravity set correctly" spam to _ONCE
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Transform gravity while setting it
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add gravity update through io_controller
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Explicitly just rotate gravity vector
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use dedicated SetGravity service instead of piggybacking SetPayload
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Run pre-commit
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use tf_prefix to set base link name, instead of info from service request
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update ft frame_id to tool0_controller
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Fix frame and gravity direction problem
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update ft frame_id to tool0_controller (#1652)
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Add sim_time to servo launch file (#1651)
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

Add deprecation warning for scaled JTC
  ur_controllers/doc/index.rst
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update forward command controller types
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Add deprecation warning for scaled JTC (#1660)
  ur_controllers/doc/index.rst
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Changes for branching out
  .github/dependabot.yml
  .github/mergify.yml
  .github/workflows/coverage-build.yml
  .github/workflows/foxy-binary-build.yml
  .github/workflows/galactic-binary-build.yml
  .github/workflows/humble-binary-main.yml
  .github/workflows/humble-binary-testing.yml
  .github/workflows/humble-semi-binary-main.yml
  .github/workflows/iron-binary-main.yml
  .github/workflows/issue-states.yml
  .github/workflows/jazzy-binary-main.yml
  .github/workflows/jazzy-binary-testing.yml
  .github/workflows/jazzy-semi-binary-main.yml
  .github/workflows/kilted-binary-main.yml
  .github/workflows/kilted-binary-testing.yml
  .github/workflows/kilted-semi-binary-main.yml
  .github/workflows/kilted-semi-binary-testing.yml
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-main.yml
  .github/workflows/rolling-semi-binary-testing.yml
  .github/workflows/sphinx_build.yml
  .github/workflows/update-ci.yml
  README.md
  ci_status.md
Due: none

Changes for branching out for kilted
  .github/mergify.yml
  .github/workflows/kilted-binary-main.yml
  .github/workflows/kilted-binary-testing.yml
  .github/workflows/kilted-semi-binary-main.yml
  .github/workflows/kilted-semi-binary-testing.yml
  README.md
  Universal_Robots_ROS2_Driver.kilted.repos
  ci_status.md
Due: none

Update upstream workspace files
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.kilted.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Changes for branching out for kilted (#1662)
  .github/mergify.yml
  .github/workflows/kilted-binary-main.yml
  .github/workflows/kilted-binary-testing.yml
  .github/workflows/kilted-semi-binary-main.yml
  .github/workflows/kilted-semi-binary-testing.yml
  README.md
  Universal_Robots_ROS2_Driver.kilted.repos
  ci_status.md
Due: none

Changes for branching out for kilted
  README.md
  ci_status.md
Due: none

Fix link to kilted branch in README
  README.md
Due: none

Update upstream workspace files (#1663)
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.kilted.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Ensure calibration library in ur_calibration is always built as static
  ur_calibration/CMakeLists.txt
Due: ament_lint_cmake

Fix link to kilted branch in README (#1666)
  README.md
Due: none

Changes for branching out for kilted (#1664)
  README.md
  ci_status.md
Due: none

Update forward command controller types (#1661)
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Ensure calibration library in ur_calibration is always built as static (#1667)
  ur_calibration/CMakeLists.txt
Due: ament_lint_cmake
