Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Running integration tests with mock hardware (#1226)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_force_mode.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/integration_test_tool_contact.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/test_mock_hardware.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_lint_cmake

Running integration tests with mock hardware (#1226)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_force_mode.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/integration_test_tool_contact.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/test_mock_hardware.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_lint_cmake

Add a humble arm Runner
  .github/workflows/humble-binary-main-arm.yml
Due: none

Fix link to limits man page
  ur_robot_driver/doc/installation/real_time.rst
Due: none

Wait for used controllers in test setup
  ur_robot_driver/test/integration_test_force_mode.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
Due: none

Fix typo
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none

Wait for tool_contact_controller in test
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: none

Wait for used controllers in test setup (#1519)
  ur_robot_driver/test/integration_test_force_mode.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
Due: none

Fix link to limits man page (#1518)
  ur_robot_driver/doc/installation/real_time.rst
Due: none

Trajectory until node (#1461)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/index.rst
  ur_robot_driver/doc/trajectory_until_node.rst
  ur_robot_driver/examples/move_until_example.py
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/trajectory_until_node.cpp
  ur_robot_driver/test/integration_test_trajectory_until.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Add support for UR18
  README.md
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/config/ur18_update_rate.yaml
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur18.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Add effort command interface to hardware interface
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add effort controller to controller switch test
  ur_robot_driver/test/integration_test_controller_switch.py
Due: none

Add documentation for hardware interface including effort control mode
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/index.rst
Due: none

Ensure backwards compatibility
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add support for UR18 (#1524)
  README.md
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/config/ur18_update_rate.yaml
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur18.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Add support for UR18 (#1524)
  README.md
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/config/ur18_update_rate.yaml
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur18.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Update CMakeLists.txt
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Resolve conflicts
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/test_common.py
Due: ament_lint_cmake

Remove example_move test
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Pass trajectory controller as parameter
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/trajectory_until_node.cpp
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: ament_cppcheck, ament_cpplint, clang-format

Add effort command interface to hardware interface (#1411)
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/index.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
Due: ament_cppcheck, ament_cpplint, clang-format

Code formatting
  ur_robot_driver/src/trajectory_until_node.cpp
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: ament_cppcheck, ament_cpplint, clang-format

Specify that only PS5 needs the option of remote control explicitly enabled.
  ur_robot_driver/doc/operation_modes.rst
Due: none

Resolve merge conflicts
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/index.rst
Due: ament_lint_cmake

Add missing dependency to effort_controllers
  ur_robot_driver/package.xml
Due: none

Add missing dependency to effort_controllers (#1531)
  ur_robot_driver/package.xml
Due: none

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

4.3.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
