Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

4.6.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

5.0.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Added tests for ScaledJointTrajectoryController
  ur_controllers/CMakeLists.txt
  ur_controllers/test/scaled_joint_trajectory_controller_params.yaml
  ur_controllers/test/test_load_scaled_joint_trajectory_controller.cpp
  ur_controllers/test/test_scaled_joint_trajectory_controller_sampling.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Fix merge conflict error
  ur_controllers/CMakeLists.txt
Due: ament_lint_cmake

Update scaled JTC (#1753)
  ur_controllers/CMakeLists.txt
  ur_controllers/include/ur_controllers/scaled_joint_trajectory_controller.hpp
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
  ur_controllers/test/scaled_joint_trajectory_controller_params.yaml
  ur_controllers/test/test_load_scaled_joint_trajectory_controller.cpp
  ur_controllers/test/test_scaled_joint_trajectory_controller_sampling.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.13.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Release/5.0.0 (#1757)
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

3.8.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Use a fixed sampling period rather than the actual time
  ur_controllers/src/sine_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add ability to select joints used for modifying
  ur_controllers/include/ur_controllers/sine_controller.hpp
  ur_controllers/src/sine_controller.cpp
  ur_controllers/src/sine_controller_parameters.yaml
  ur_robot_driver/config/ur_controllers.yaml
Due: ament_cppcheck, ament_cpplint, clang-format

Setup CM to not sleep and use blocking read
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Added a sine wave controller for debugging purposes
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/include/ur_controllers/sine_controller.hpp
  ur_controllers/src/sine_controller.cpp
  ur_controllers/src/sine_controller_parameters.yaml
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/msg/StampedDoubleArray.msg
  ur_dashboard_msgs/package.xml
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/launch/ur_control.launch.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

REVERT_ME: Inspect URSim container
  ur_robot_driver/test/test_common.py
Due: none

[Doc moveit_config] Add a note about joint_limits.yaml
  ur_moveit_config/doc/index.rst
Due: none

REVERT_ME: Debug /ursim/programs
  ur_robot_driver/test/test_common.py
Due: none

[Doc moveit_config] Add a note about joint_limits.yaml (#1764)
  ur_moveit_config/doc/index.rst
Due: none

REVERT_ME: More debug
  ur_robot_driver/test/integration_test_hand_back_control.py
  ur_robot_driver/test/test_common.py
Due: none

Copy program to container rather than bind-mounting
  ur_robot_driver/test/integration_test_hand_back_control.py
  ur_robot_driver/test/test_common.py
Due: none

Update to renamed parameter
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Copy program **after** robot has been initialized
  ur_robot_driver/test/integration_test_hand_back_control.py
Due: none

Update urscript_interface to PrimaryClient
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add example for using the urscript_sender
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/examples/urscript_sender_example.py
Due: ament_lint_cmake

Add automatic reconnect when connected to read-only
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Also copy installation
  ur_robot_driver/test/integration_test_hand_back_control.py
  ur_robot_driver/test/resources/ursim/e-series/ur5e/programs/default.installation
Due: none

Check payload state in gpio_controller
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Add primary configuration timeout hw interface param
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Update ur_robot_driver/doc/migration/lyrical.rst
  ur_robot_driver/doc/migration/lyrical.rst
Due: none

Remove duplicate entries
  ur_robot_driver/launch/ur10e.launch.py
  ur_robot_driver/launch/ur12e.launch.py
  ur_robot_driver/launch/ur15.launch.py
  ur_robot_driver/launch/ur16e.launch.py
  ur_robot_driver/launch/ur18.launch.py
  ur_robot_driver/launch/ur20.launch.py
  ur_robot_driver/launch/ur3.launch.py
  ur_robot_driver/launch/ur30.launch.py
  ur_robot_driver/launch/ur3e.launch.py
  ur_robot_driver/launch/ur5.launch.py
  ur_robot_driver/launch/ur5e.launch.py
  ur_robot_driver/launch/ur7e.launch.py
  ur_robot_driver/launch/ur8long.launch.py
Due: none

Use changed client library
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add ur7e and ur12e
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
