Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Migrate Urscript interface to primary client (#1833)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/usage/script_code.rst
  ur_robot_driver/src/urscript_interface.cpp
  ur_robot_driver/test/urscript_interface.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Branching off for Lyrical
  .github/dependabot.yml
  .github/mergify.yml
  .github/workflows/coverage-build.yml
  .github/workflows/foxy-binary-build.yml
  .github/workflows/galactic-binary-build.yml
  .github/workflows/humble-binary-main.yml
  .github/workflows/humble-binary-testing.yml
  .github/workflows/humble-semi-binary-main.yml
  .github/workflows/iron-binary-main.yml
  .github/workflows/jazzy-binary-main.yml
  .github/workflows/jazzy-binary-testing.yml
  .github/workflows/jazzy-semi-binary-main.yml
  .github/workflows/kilted-binary-main.yml
  .github/workflows/kilted-binary-testing.yml
  .github/workflows/kilted-semi-binary-main.yml
  .github/workflows/kilted-semi-binary-testing.yml
  .github/workflows/lyrical-binary-main.yml
  .github/workflows/lyrical-binary-testing.yml
  .github/workflows/lyrical-semi-binary-main.yml
  .github/workflows/lyrical-semi-binary-testing.yml
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-main.yml
  .github/workflows/rolling-semi-binary-testing.yml
  .github/workflows/update-ci.yml
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.kilted.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Update README and ci_status for lyrical branch
  README.md
  ci_status.md
Due: none

Fix whitespace errors
  ur_robot_driver/doc/usage/script_code.rst
Due: none

Resolve conflicts
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Fix whitespace issues in docs
  ur_robot_driver/doc/usage/script_code.rst
Due: none

Allow setting payload inertia matrix via set_payload service (#1808)
  Universal_Robots_ROS2_Driver.rolling.repos
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/doc/migration/makoa.rst
  ur_robot_driver/doc/migration_notes.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/test_mock_hardware.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Resolve conflicts
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/usage/script_code.rst
Due: ament_lint_cmake

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

7.0.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

4.8.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Fix whitespace errors (#1869)
  ur_robot_driver/doc/usage/script_code.rst
Due: none

Update README and ci_status for lyrical branch (#1868)
  README.md
  ci_status.md
Due: none

Add backport-lyrical mergify rule
  .github/mergify.yml
Due: none

Update lyrical workflows to only run scheduled
  .github/workflows/lyrical-binary-main.yml
  .github/workflows/lyrical-binary-testing.yml
  .github/workflows/lyrical-semi-binary-main.yml
  .github/workflows/lyrical-semi-binary-testing.yml
Due: none

Resolve conflicts
  README.md
Due: none

Fixed ci_status branch
  ci_status.md
Due: none

Fix branches
  README.md
  ci_status.md
Due: none

Main branch updates for lyrical branch (#1870)
  .github/mergify.yml
  .github/workflows/lyrical-binary-main.yml
  .github/workflows/lyrical-binary-testing.yml
  .github/workflows/lyrical-semi-binary-main.yml
  .github/workflows/lyrical-semi-binary-testing.yml
  README.md
  ci_status.md
Due: none

Fix import for Humble
  ur_robot_driver/test/urscript_interface.py
Due: none

Fix link to action_definitions doc page
  ur_robot_driver/doc/usage/script_code.rst
Due: none

fix: PAYLOAD_STATE_TRANSITION_TIME removed
  ur_controllers/include/ur_controllers/gpio_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

fix: prevent race condition in async payload execution
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

style: fix missing formatting issues
  ur_robot_driver/test/integration_test_payload.py
Due: none

feat: extend set_payload service with inertia matrix and transition_time
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_payload.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

fix: unused variable removed
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

feat: extend set_payload service with inertia matrix and transition_time backwards-compatible
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/test/integration_test_payload.py
Due: ament_cppcheck, ament_cpplint, clang-format

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
