Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Make urscript_interface and dashboard_client startup interruptible (#2006)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_node.cpp
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/src/urscript_interface.cpp
  ur_robot_driver/test/dashboard_client_interruptible_startup.py
  ur_robot_driver/test/urscript_interface_interruptible_startup.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Code formatting
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Stop in-flight dashboard welcome connection on shutdown
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/test/dashboard_client_silent_greeting_shutdown.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

[move_until_node] Do not force an illegal terminal transition on an unrequested CANCELED child result (#2003)
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Reset `robot_program_running_`
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Ensure stopping of tool contact and force mode controllers. Aborting actions if the hardware interface fails to write in the write cycle.
  ur_controllers/src/force_mode_controller.cpp
  ur_controllers/src/force_mode_controller_parameters.yaml
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Check for round-to-zero non-blocking read timeouts
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Python end-to-end integration tests. Tests only read timeout failures
  ur_robot_driver/test/integration_test_component_lifecycle.py
  ur_robot_driver/test/test_common.py
Due: none

Test that a succesful read resets time_since_successful_read_
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Forward timeout value through launch files
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
Due: none

Stop motion primitives on stop()
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix 'Cancel staged commands and prevent stale acknowledgements' from copilot
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/src/force_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

fix force mode bugs, and add tests
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/src/force_mode_controller.cpp
  ur_controllers/test/test_load_force_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use retried value in test
  ur_controllers/test/test_load_force_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Unconst test variable
  ur_controllers/test/test_load_force_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Trim the tool contact goal release comment
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Do not drop a tool contact goal handle before its terminal state is delivered
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_controllers/test/test_tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Do not drop a tool contact goal handle before its terminal state is delivered (#2005)
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_controllers/test/test_tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Apply batched suggestions from code review
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Code formatting
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_exports.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Migrate test_tool_contact_controller, as well
  ur_controllers/test/test_tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format
