Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Improve usage documentation (#1110)
  ur_controllers/README.md
  ur_controllers/doc/index.rst
  ur_robot_driver/README.md
  ur_robot_driver/doc/ROS_INTERFACE.rst
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/doc/index.rst
  ur_robot_driver/doc/installation/robot_setup.rst
  ur_robot_driver/doc/operation_modes.rst
  ur_robot_driver/doc/resources/play_button.svg
  ur_robot_driver/doc/usage.rst
  ur_robot_driver/doc/usage/controllers.rst
  ur_robot_driver/doc/usage/move.rst
  ur_robot_driver/doc/usage/script_code.rst
  ur_robot_driver/doc/usage/simulation.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/toc.rst
Due: none

Make controller robust against joint ordering
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make default config reflect the actual parameters
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Fix tolerance handling
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/scripts/example_move.py
  ur_robot_driver/test/robot_driver.py
Due: ament_cppcheck, ament_cpplint, clang-format

REVERT_ME: use fixed ros2_control until merged
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Make sure the abort state is reset when sending new trajectories
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Restructure command interface exporting
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

REVERT_ME: Use passthrough branch of description
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Add documentation for the passthrough controller
  ur_controllers/doc/index.rst
Due: none

Store command interface instead of using indices
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Correctly handle preemptions
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Correctly abort and act on deactivate
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update documentation
  ur_controllers/doc/index.rst
Due: none

Improve result representation in example_move script
  ur_robot_driver/scripts/example_move.py
Due: none

Revert "another failure trial, the spawner wants to spawn a controller named """
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Revert "failure trial, because cannot pass all controllers as a single string separated with space"
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Fix for Controller Switching Issue and Refactor Controller Spawning (#1093)
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Use ros2_control fork with new PoseSensor semantic component
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Add passthrough interfaces for joints
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add passthrough interfaces for joints (#1121)
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Center family photo
  README.md
Due: none

Service to get software version of robot (#964)
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
  ur_controllers/src/ur_configuration_controller.cpp
  ur_controllers/src/ur_configuration_controller_parameters.yaml
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Update ur_msgs branch for upstream workspaces
  Universal_Robots_ROS2_Driver-not-released.humble.repos
  Universal_Robots_ROS2_Driver-not-released.iron.repos
  Universal_Robots_ROS2_Driver.galactic.repos
  Universal_Robots_ROS2_Driver.humble.repos
  Universal_Robots_ROS2_Driver.iron.repos
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Update ur_msgs upstream branch
  Universal_Robots_ROS2_Driver.iron.repos
Due: none

Update ur_msgs upstream branch
  Universal_Robots_ROS2_Driver.humble.repos
Due: none

Update ur_msgs upstream branch (#1125)
  Universal_Robots_ROS2_Driver.iron.repos
Due: none

Update ur_msgs upstream branch (#1126)
  Universal_Robots_ROS2_Driver.humble.repos
Due: none

Update ur_msgs branch for upstream workspaces (#1124)
  Universal_Robots_ROS2_Driver-not-released.humble.repos
  Universal_Robots_ROS2_Driver-not-released.iron.repos
  Universal_Robots_ROS2_Driver.galactic.repos
  Universal_Robots_ROS2_Driver.humble.repos
  Universal_Robots_ROS2_Driver.iron.repos
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Allow setting the analog output domain when setting an analog IO
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Allow setting the analog output domain when setting an analog IO (#1123)
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

[moveit] Add config for trajectory execution and disable execution monitoring by default
  ur_moveit_config/config/moveit_controllers.yaml
Due: none

[moveit] Disable execution_duration_monitoring by default
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

[moveit] Add config for trajectory execution and disable execution monitoring by default (#1132)
  ur_moveit_config/config/moveit_controllers.yaml
Due: none

[moveit] Disable execution_duration_monitoring by default (#1134)
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

Add note about TEM
  ur_moveit_config/doc/index.rst
  ur_robot_driver/doc/usage/move.rst
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
