Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

integrated motion_primitives_ur_driver into hardware_interface. Executing primitives working and switching modes during runtime successfull.
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

pre-commit fixes
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/examples/send_dummy_motion_primitives_hka_ur10e.py
  ur_robot_driver/examples/send_joint_positions.py
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

edited readme
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/doc/motion_primitive_ur_driver/ros2_control_motion_primitives_ur.drawio.png
Due: none

Use std_atomic<bool> in SJTC (#1385)
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update scaled_joint_trajectory_controller.cpp
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Configure mergify to backport to jazzy
  .github/mergify.yml
Due: none

Configure mergify to backport to jazzy (#1388)
  .github/mergify.yml
Due: none

modified python script for action based moprim controller instead of reference topic
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/examples/send_dummy_motion_primitives_hka_ur10e.py
  ur_robot_driver/examples/send_dummy_motion_primitives_ur5e.py
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Update README_MotionPrimitive.md
  ur_robot_driver/README_MotionPrimitive.md
Due: none

Remove unneccessary arguments.
  ur_robot_driver/launch/ur_rsp.launch.py
Due: none

Remove unnecessary arguments. (#1389)
  ur_robot_driver/launch/ur_rsp.launch.py
Due: none

Use the Python mirror for clang-format in pre-commit config
  .pre-commit-config.yaml
Due: none

Ignore deprecation warning for set_gains for now
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

3.3.2
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Add moveit_resources to upstream workspace
  Universal_Robots_ROS2_Driver.kilted.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.8.1
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Ignore deprecation warning for set_gains for now (#1392)
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use the Python mirror for clang-format in pre-commit config (#1391)
  .pre-commit-config.yaml
Due: none

Fix ur_calibration compilation on Windows
  ur_calibration/CMakeLists.txt
Due: ament_lint_cmake

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

4.0.2
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

ur_controllers: Fix compilation on Windows
  ur_controllers/CMakeLists.txt
Due: ament_lint_cmake

edited readme
  ur_robot_driver/README_MotionPrimitive.md
Due: none

changed blend radius to 0 for eval sequence
  ur_robot_driver/examples/send_dummy_motion_primitives_hka_ur10e.py
Due: none

Ignore RT-Tools deprecation warning about trylock
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
