Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Ensure calibration library in ur_calibration is always built as static (#1667)
  ur_calibration/CMakeLists.txt
Due: ament_lint_cmake

Do not install moveit_ros_visualization
  .github/workflows/reusable_ici.yml
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-main.yml
  .github/workflows/rolling-semi-binary-testing.yml
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Ignore all moveit packages
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-main.yml
  .github/workflows/rolling-semi-binary-testing.yml
Due: none

Remove non-existing test dependency
  ur_controllers/package.xml
Due: none

Update ignore keys yaml key
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-main.yml
  .github/workflows/rolling-semi-binary-testing.yml
Due: none

Remove warehouse_ros_sqlite from testing, as well
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-testing.yml
Due: none

Do not install moveit dependencies (#1671)
  .github/workflows/reusable_ici.yml
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-main.yml
  .github/workflows/rolling-semi-binary-testing.yml
  Universal_Robots_ROS2_Driver.rolling.repos
  ur_controllers/package.xml
Due: none

Changes for branching out for kilted (#1665)
  README.md
  ci_status.md
Due: none

Reset instruction executor on cleanup, as well
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add get_polyscope_version_ service
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/srv/GetPolyScopeVersion.srv
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Services for various dashboard calls that we dont yet support (WIP)
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/msg/OperationalMode.msg
  ur_dashboard_msgs/msg/UserRole.msg
  ur_dashboard_msgs/srv/GetOperationalMode.srv
  ur_dashboard_msgs/srv/GetRobotModel.srv
  ur_dashboard_msgs/srv/GetSerialNumber.srv
  ur_dashboard_msgs/srv/GetUserRole.srv
  ur_dashboard_msgs/srv/SetOperationalMode.srv
  ur_dashboard_msgs/srv/SetUserRole.srv
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/test/dashboard_client.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Explicitly send MODE_STOPPED when returning control to the robot
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add some integration tests
  ur_robot_driver/test/dashboard_client.py
  ur_robot_driver/test/test_common.py
Due: none

Add new Robot API calls to dashboard client ROS
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/msg/ProgramInformation.msg
  ur_dashboard_msgs/srv/DownloadProgram.srv
  ur_dashboard_msgs/srv/GetPrograms.srv
  ur_dashboard_msgs/srv/UploadProgram.srv
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Add new services to documentation
  ur_robot_driver/doc/dashboard_client.rst
Due: none

Add exception message to output
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add component lifecycle test to CMakeLists.txt
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Error and exit if connection to dashboard server cannot be made
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Retry connecting to dashboard server
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add test_program
  .pre-commit-config.yaml
  ur_robot_driver/test/dashboard_client.py
  ur_robot_driver/test/test_program.urpx
Due: none

Use a secondary program to confirm urscript_interface initialization
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix cleanup (#1683)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Add component lifecycle test to CMakeLists.txt (#1684)
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Apply suggestions from code review
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Changes from code review
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update string format
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add output to goal tolerance failures in passthrough controller
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add velocity-related debug output to joint tolerance
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Dashboard client new x commands (#1679)
  .pre-commit-config.yaml
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/msg/ProgramInformation.msg
  ur_dashboard_msgs/srv/DownloadProgram.srv
  ur_dashboard_msgs/srv/GetPrograms.srv
  ur_dashboard_msgs/srv/UploadProgram.srv
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/test/dashboard_client.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/test_program.urpx
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Delete ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/doc/dashboard_client.rst
Due: none

Use a secondary program to confirm urscript_interface initialization (#1685)
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format
