Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Fix member naming
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use std::visit to wait for action server
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Put correct example file name in Cmake
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Mention which motion controllers can be used in the docs
  ur_robot_driver/doc/trajectory_until_node.rst
Due: none

removed new_moprim_cmd_available_
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix orientation order in example
  ur_robot_driver/examples/pd_torque_controller.py
Due: none

Choose either joint or task space in example using parameter
  ur_robot_driver/examples/pd_torque_controller.py
Due: none

Update ur_configuration_controller to use RealtimeThreadSafeBox
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update force mode controller to use RealtimeThreadSafeBox
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/src/force_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update tool contact controller to use RealtimeThreadSafeBox
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update passthrough controller to use RealtimeThreadSafeBox
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add retry for realtime boxes outside realtime thread.
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add retry for realtime boxes outside realtime thread in tool contact controller.
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add retry for setting force mode parameters.
  ur_controllers/src/force_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add retry for getting software version
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

added execution_status STOPPING to readme
  ur_robot_driver/README_MotionPrimitive.md
Due: none

Implemented the interface names fixed in the controller --> only tf_prefix is passed as param to moprim forward controller
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Add test for hardware component lifecycle
  ur_robot_driver/test/integration_test_component_lifecycle.py
  ur_robot_driver/test/test_common.py
Due: none

Update link to the RTDE guide
  ur_controllers/doc/index.rst
Due: none

edited readme
  ur_robot_driver/README_MotionPrimitive.md
Due: none

Added PID gains for the SJTC velocity interface
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Add doc entry about using velocity interface
  ur_controllers/doc/index.rst
Due: none

Use i_clamp_max/min in UR controllers
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Delete implementation of SJTC to use upstream implementation
  ur_controllers/include/ur_controllers/scaled_joint_trajectory_controller.hpp
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Replace SJTC implementation with upstream (#1485)
  ur_controllers/include/ur_controllers/scaled_joint_trajectory_controller.hpp
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Launch arguments support bool instead of string types only
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Remove wrong seq entry
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

Update ros2_bug.yaml
  .github/ISSUE_TEMPLATE/ros2_bug.yaml
Due: none

Update ros2_bug.yaml (#1486)
  .github/ISSUE_TEMPLATE/ros2_bug.yaml
Due: none

Remove wrong seq entry (#1488)
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

Add support for launching UR8Long
  README.md
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/config/ur8long_update_rate.yaml
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur8long.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Add support for launching UR8Long
  README.md
  ur_bringup/config/ur8long_update_rate.yaml
  ur_bringup/launch/ur8long.launch.py
  ur_bringup/launch/ur_control.launch.py
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/config/ur8long_update_rate.yaml
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur8long.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/test/test_common.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

renamed motion_primitives_forward_controller package to motion_primitives_controllers
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/package.xml
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

added support for moprim from traj controller
  ur_moveit_config/config/moveit_controllers.yaml
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/doc/motion_primitive_ur_driver/moprim_from_traj_controller_ur_demo_thumbnail.png
  ur_robot_driver/doc/motion_primitive_ur_driver/ros2_control_motion_primitives_from_traj_ur.drawio.png
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
