Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Start executing passthrogh trajectories earlier than all points are transferred.
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Make sure we acknowledge a new trajectory before sending points
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix passthrough controller to not read non-existing state_interfaces (#1314)
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/test/robot_driver.py
Due: ament_cppcheck, ament_cpplint, clang-format

fixed types for update_non_double_values() parameters
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove semi-binary testing builds from ci_status (#1321)
  ci_status.md
Due: none

Add support for UR7e and UR12e
  README.md
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur12e.launch.py
  ur_robot_driver/launch/ur7e.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Allow starting and stopping multiple interfaces at once
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix state interface to get version information from
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use UrDriverConfig struct to initialize UrDriver
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use UrDriverConfig struct to initialize UrDriver (#1328)
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

using meber variables instead of passing references for the function calls (and moved some more code to the helper header)
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

removed some commented stuff
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Apply suggestions from code review
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove non-used case from sending spline interpolation to the robot
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Catch two faulty cases and print an error instead
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove comment that is no longer true
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Shutdown dashboard client when connected to PolyScopeX robot
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_node.cpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make robot_state_helper use primary_client whenever possible
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/src/robot_state_helper.cpp
  ur_robot_driver/src/robot_state_helper_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Fix: creating the dashboard client outside the try/catch block
  ur_robot_driver/src/dashboard_client_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

prepared hardware_interface and ur_state_helper implementation for merge with main
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

changed if (ur_driver_->getVersion().major >= 5) to if (get_robot_software_version_major_>= 5) in transform_force_torque() since ur_driver_ is not available in the ur_state_helper.hpp
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

renamed ur_state_helper.hpp to tateinterface_helper.hpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/include/ur_robot_driver/stateinterface_helper.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

changed method names in stateinterface_helper.hpp from snake to camel case to fit the rest of the repo
  ur_robot_driver/include/ur_robot_driver/stateinterface_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Apply suggestions from code review
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Only sleep before playing if we can use that function
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add support for UR7e and UR12e (#1320)
  README.md
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur12e.launch.py
  ur_robot_driver/launch/ur7e.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Add support for UR7e and UR12e
  README.md
  ur_bringup/launch/ur12e.launch.py
  ur_bringup/launch/ur7e.launch.py
  ur_bringup/launch/ur_control.launch.py
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur12e.launch.py
  ur_robot_driver/launch/ur7e.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/test/test_common.py
Due: none

Support PolyScopeX robots (#1318)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/dashboard_client_node.cpp
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/src/robot_state_helper.cpp
  ur_robot_driver/src/robot_state_helper_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Start executing passthrough trajectories earlier than all points are transferred. (#1313)
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Start executing passthrough trajectories earlier than all points are transferred. (#1313)
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add github_url directives to all rst files
  ur_calibration/doc/algorithm.rst
  ur_calibration/doc/index.rst
  ur_calibration/doc/usage.rst
  ur_controllers/doc/index.rst
  ur_moveit_config/doc/index.rst
  ur_moveit_config/doc/migration/jazzy.rst
  ur_robot_driver/doc/controller_stopper.rst
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/doc/features.rst
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/doc/index.rst
  ur_robot_driver/doc/installation/installation.rst
  ur_robot_driver/doc/installation/robot_setup.rst
  ur_robot_driver/doc/installation/toc.rst
  ur_robot_driver/doc/migration/jazzy.rst
  ur_robot_driver/doc/operation_modes.rst
  ur_robot_driver/doc/overview.rst
  ur_robot_driver/doc/robot_state_helper.rst
  ur_robot_driver/doc/setup_tool_communication.rst
  ur_robot_driver/doc/usage/controllers.rst
  ur_robot_driver/doc/usage/move.rst
  ur_robot_driver/doc/usage/script_code.rst
  ur_robot_driver/doc/usage/simulation.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/toc.rst
Due: none

Apply suggestions from code review
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_tool_contact.py
Due: ament_cppcheck, ament_cpplint, clang-format

Change name of goal_canceled_callback
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Tool contact is ended in the hardware interface, when controller is activated. No reason to do it here as well.
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format
