Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Replace linking to moprim controller my using its include directories (#1853)
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Remove controller switch to passthrough controller
  ur_robot_driver/test/integration_test_hand_back_control.py
Due: none

Resolve conflicts
  .github/workflows/reusable_ici.yml
Due: none

Update ur_msgs branch to rolling-devel
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Jazzy update model test (#1854)
  .github/workflows/reusable_ici.yml
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_robot_models.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format

fix: PAYLOAD_STATE_TRANSITION_TIME removed
  ur_controllers/include/ur_controllers/gpio_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

fix: No executable and format adjusted
  ur_robot_driver/test/integration_test_payload.py
Due: none

fix: format adjusted
  ur_robot_driver/test/integration_test_payload.py
Due: none

fix: missing space
  ur_robot_driver/test/integration_test_payload.py
Due: none

fix: unused variable removed
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Move integration tests to io_controller_tests
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_payload.py
Due: ament_lint_cmake

Add migration notes for makoa
  ur_robot_driver/doc/migration/makoa.rst
  ur_robot_driver/doc/migration_notes.rst
Due: none

Always reset payload to 0
  ur_robot_driver/test/integration_test_io_controller.py
Due: none

Update mock hardware controller to new interface
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Remove controller switch to passthrough controller (#1857)
  ur_robot_driver/test/integration_test_hand_back_control.py
Due: none

Update integration_test_hand_back_control.py
  ur_robot_driver/test/integration_test_hand_back_control.py
Due: none

Add explicit control_msgs dependency for humble
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/package.xml
Due: ament_lint_cmake

Add explicit control_msgs dependency for jazzy
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/package.xml
Due: ament_lint_cmake

Add explicit control_msgs dependency for humble (#1863)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/package.xml
Due: ament_lint_cmake

Add explicit control_msgs dependency for jazzy (#1864)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/package.xml
Due: ament_lint_cmake

Add twist to hardware interface
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Make the subscriber_active flag atomic
  ur_controllers/include/ur_controllers/twist_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add test for mode compatibility
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/mode_compatibility.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/src/mode_compatibility.cpp
  ur_robot_driver/test/test_mode_compatibility_symmetry.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Made controller explicitly compatible with force_mode controller
  ur_controllers/doc/index.rst
  ur_robot_driver/doc/usage/position_velocity_control.rst
  ur_robot_driver/src/mode_compatibility.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
Due: ament_cppcheck, ament_cpplint, clang-format

Fix compatibility matrix
  ur_robot_driver/src/mode_compatibility.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Apply suggestions from code review
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/twist_controller.hpp
  ur_controllers/src/twist_controller.cpp
  ur_controllers/src/twist_controller_parameters.yaml
Due: ament_cppcheck, ament_cpplint, clang-format

Add twist controller
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/include/ur_controllers/twist_controller.hpp
  ur_controllers/src/twist_controller.cpp
  ur_controllers/src/twist_controller_parameters.yaml
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/launch/ur_control.launch.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Add documentation on twist controller
  ur_controllers/doc/index.rst
  ur_robot_driver/doc/usage/position_velocity_control.rst
Due: none

Remove debug statement
  ur_robot_driver/test/test_common.py
Due: none

Add tests for twist_controller
  ur_controllers/CMakeLists.txt
  ur_controllers/test/test_load_twist_controller.cpp
  ur_controllers/test/twist_controller_params.yaml
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_twist_controller.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Allow using the actual torques as joint efforts
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Make adding this backwards compatible
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Migrate Urscript interface to primary client (#1833)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/usage/script_code.rst
  ur_robot_driver/src/urscript_interface.cpp
  ur_robot_driver/test/urscript_interface.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
