Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Use a secondary program to confirm urscript_interface initialization (#1685)
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Delete .github/workflows/coverage-build.yml
  .github/workflows/coverage-build.yml
Due: none

Update documentation
  ur_robot_driver/doc/ROS_INTERFACE.md
Due: none

Friction model controller
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/friction_model_controller.hpp
  ur_controllers/src/friction_model_controller.cpp
  ur_controllers/src/friction_model_controller_parameters.yaml
  ur_controllers/test/friction_model_controller_params.yaml
  ur_controllers/test/test_load_friction_model_controller.cpp
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_friction_model.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Make pre-commit less depending on system setup
  .pre-commit-config.yaml
Due: none

Add some integration tests
  ur_robot_driver/test/dashboard_client.py
Due: none

Add test_program
  ur_robot_driver/test/dashboard_client.py
Due: none

Add get_polyscope_version_ service
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/srv/GetPolyScopeVersion.srv
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Documentation of new dashboard calls.
  ur_robot_driver/doc/dashboard_client.rst
Due: none

formatting
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/test/dashboard_client.py
Due: ament_cppcheck, ament_cpplint, clang-format

Finish implementation
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/msg/OperationalMode.msg
  ur_dashboard_msgs/msg/SafetyStatus.msg
  ur_dashboard_msgs/msg/UserRole.msg
  ur_dashboard_msgs/msg/VersionInformation.msg
  ur_dashboard_msgs/srv/GenerateFlightReport.srv
  ur_dashboard_msgs/srv/GenerateSupportFile.srv
  ur_dashboard_msgs/srv/GetSafetyStatus.srv
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/test/dashboard_client.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Check service returns in tests
  ur_robot_driver/test/dashboard_client.py
Due: none

Specification of documentation
  ur_robot_driver/doc/dashboard_client.rst
Due: none

Make tests
  ur_robot_driver/test/dashboard_client.py
  ur_robot_driver/test/test_common.py
Due: none

Add ursim_version parameter
  ur_robot_driver/test/dashboard_client.py
Due: none

Services for various dashboard calls that we dont yet support (WIP)
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/msg/OperationalMode.msg
  ur_dashboard_msgs/msg/UserRole.msg
  ur_dashboard_msgs/srv/GetOperationalMode.srv
  ur_dashboard_msgs/srv/GetRobotModel.srv
  ur_dashboard_msgs/srv/GetSerialNumber.srv
  ur_dashboard_msgs/srv/GetUserRole.srv
  ur_dashboard_msgs/srv/SetOperationalMode.srv
  ur_dashboard_msgs/srv/SetUserRole.srv
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/test/dashboard_client.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Add id fields to generate_file services
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add get_operational_mode test for PSX
  ur_robot_driver/test/dashboard_client.py
Due: none

Edit service definitions
  ur_dashboard_msgs/msg/UserRole.msg
  ur_dashboard_msgs/msg/VersionInformation.msg
Due: none

Add fields to generate_file services
  ur_dashboard_msgs/srv/GenerateFlightReport.srv
  ur_dashboard_msgs/srv/GenerateSupportFile.srv
Due: none

Update ur_robot_driver/test/dashboard_client.py
  ur_robot_driver/test/dashboard_client.py
Due: none

Update ur_dashboard_msgs/srv/GenerateFlightReport.srv
  ur_dashboard_msgs/srv/GenerateFlightReport.srv
Due: none

Update flight report generation instructions
  ur_robot_driver/doc/dashboard_client.rst
Due: none

Add ur_type to start_ursim
  .github/workflows/reusable_ici.yml
  ur_robot_driver/test/dashboard_client.py
  ur_robot_driver/test/test_common.py
Due: none

New RTDE client package to create topics of each RTDE field name that is selected
  ur_rtde_client/CMakeLists.txt
  ur_rtde_client/LICENSE
  ur_rtde_client/README.md
  ur_rtde_client/config/rtde_map.yaml
  ur_rtde_client/include/ur_rtde_client/converter.hpp
  ur_rtde_client/include/ur_rtde_client/publisher.hpp
  ur_rtde_client/include/ur_rtde_client/rtde_client_node.hpp
  ur_rtde_client/include/ur_rtde_client/rtde_manager.hpp
  ur_rtde_client/launch/rtde_client.launch.xml
  ur_rtde_client/package.xml
  ur_rtde_client/src/converter.cpp
  ur_rtde_client/src/publisher.cpp
  ur_rtde_client/src/rtde_client_node.cpp
  ur_rtde_client/src/rtde_manager.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Change ur_type parameter
  ur_robot_driver/test/dashboard_client.py
Due: none

Services to support various dashboard calls (#1674)
  .github/workflows/reusable_ici.yml
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/msg/OperationalMode.msg
  ur_dashboard_msgs/msg/SafetyStatus.msg
  ur_dashboard_msgs/msg/UserRole.msg
  ur_dashboard_msgs/msg/VersionInformation.msg
  ur_dashboard_msgs/srv/GenerateFlightReport.srv
  ur_dashboard_msgs/srv/GenerateSupportFile.srv
  ur_dashboard_msgs/srv/GetOperationalMode.srv
  ur_dashboard_msgs/srv/GetPolyScopeVersion.srv
  ur_dashboard_msgs/srv/GetRobotModel.srv
  ur_dashboard_msgs/srv/GetSafetyStatus.srv
  ur_dashboard_msgs/srv/GetSerialNumber.srv
  ur_dashboard_msgs/srv/GetUserRole.srv
  ur_dashboard_msgs/srv/SetOperationalMode.srv
  ur_dashboard_msgs/srv/SetUserRole.srv
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/test/dashboard_client.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Delete files that don't exist on that branch
  .github/workflows/reusable_ici.yml
  ur_robot_driver/doc/dashboard_client.rst
Due: none

Add gravity update through io_controller
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix frame and gravity direction problem
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use tf_prefix to set base link name, instead of info from service request
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Transform gravity while setting it
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

changed "gravity set correctly" spam to _ONCE
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add gravity ros2 control interfaces
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Explicitly just rotate gravity vector
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use dedicated SetGravity service instead of piggybacking SetPayload
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Run pre-commit
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format
