Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Revert "Apply renaming of member variables of JTC (#1275)"
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove Aborted and preempted from result reports
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Changes for local testing (should be reverted)
  ur_robot_driver/test/test_common.py
Due: none

New examples branch
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/examples/force_mode.py
  ur_robot_driver/examples/passthrough.py
  ur_robot_driver/examples/robot_class.py
  ur_robot_driver/examples/scaled_joint.py
Due: ament_lint_cmake

Moved example move, updated cmake
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/examples/example_move.py
  ur_robot_driver/examples/passthrough.py
  ur_robot_driver/examples/robot_class.py
Due: ament_lint_cmake

Saving JTC example, but might not be needed
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/examples/jtc.py
  ur_robot_driver/examples/robot_class.py
Due: ament_lint_cmake

Update transformForceTorque to handle wheter it is a cb3 or an e-Series robot
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove succesful result as well
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

cast to double for future variant API (#1283)
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

3.1.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Update ros2_control API to get_optional
  ur_controllers/CMakeLists.txt
  ur_controllers/src/force_mode_controller.cpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_controllers/src/gpio_controller.cpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
  ur_controllers/src/speed_scaling_state_broadcaster.cpp
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Update message documentation URLs
  ur_robot_driver/doc/dashboard_client.rst
Due: none

Update message documentation URLs (#1292)
  ur_robot_driver/doc/dashboard_client.rst
Due: none

freedrive_controller: By default use ASYNC_WAITING
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update ros2_control API to get_optional (#1289)
  ur_controllers/CMakeLists.txt
  ur_controllers/src/force_mode_controller.cpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_controllers/src/gpio_controller.cpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
  ur_controllers/src/speed_scaling_state_broadcaster.cpp
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Use modern CMake to link against yaml-cpp
  ur_calibration/CMakeLists.txt
  ur_calibration/package.xml
Due: ament_lint_cmake

Update upstream workspace to branched out jazzy versions
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Reapply "Apply renaming of member variables of JTC (#1275)"
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update test and docs to the empty action definition
  ur_controllers/doc/index.rst
  ur_robot_driver/test/integration_test_tool_contact.py
Due: none

Update to use std::optional
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove direct yaml-cpp include
  ur_calibration/CMakeLists.txt
  ur_calibration/package.xml
Due: ament_lint_cmake

Update transformForceTorque to handle wheter it is a cb3 or an e-Series robot (#1287)
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Running integration tests with mock hardware
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Robot driver tests pass with mock hardware
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

something got duplicated, removing
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Update branches for semi-binary job
  Universal_Robots_ROS2_Driver.jazzy.repos
Due: none

For kinematics_interface too
  Universal_Robots_ROS2_Driver.jazzy.repos
Due: none

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.6.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

3.1.1
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none
