Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Update documentation
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/hardware_interface_parameters.rst
Due: none

Whitespace fixes
  ur_robot_driver/doc/hardware_interface.rst
Due: none

robot_control_mode_ & robot_control_mode_copy_ def in hardware_interface
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

getRobotModeData in the cpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

state interface in the xacro
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Remove false statement about gravity compensation in reported torques
  ur_robot_driver/doc/hardware_interface.rst
Due: none

Excplicitly fail when actual_current_as_torque is not available
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/doc/migration/makoa.rst
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Allow using the actual torques as joint efforts
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Add documentation
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Excplicitly fail when actual_current_as_torque is not available
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make adding this backwards compatible
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use blocking read in controller manager (#1760)
  ur_robot_driver/doc/migration/makoa.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Delete ur_robot_driver/doc/migration/makoa.rst
  ur_robot_driver/doc/migration/makoa.rst
Due: none

Change default value to false
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Remove makoa migration file
  ur_robot_driver/doc/migration/makoa.rst
Due: none

Resolve merge conflicts
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

UR Robot Broadcaster in CMakeList
  ur_controllers/CMakeLists.txt
Due: ament_lint_cmake

fixing typo in makefile
  ur_controllers/CMakeLists.txt
Due: ament_lint_cmake

URRobotModeBroadcaster header
  ur_controllers/include/ur_controllers/ur_robot_mode_broadcaster.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

param file
  ur_controllers/src/ur_robot_mode_broadcaster_parameters.yaml
Due: none

Report operational status with mock hardware
  ur_robot_driver/test/test_mock_hardware.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Add Cartesian twist controller (#1586)
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/twist_controller.hpp
  ur_controllers/src/twist_controller.cpp
  ur_controllers/src/twist_controller_parameters.yaml
  ur_controllers/test/test_load_twist_controller.cpp
  ur_controllers/test/twist_controller_params.yaml
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/doc/usage/position_velocity_control.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/include/ur_robot_driver/mode_compatibility.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/src/mode_compatibility.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_twist_controller.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/test_mode_compatibility_symmetry.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

suppress overrun warnings when blocking read
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Fix parameter name in overrun condition
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Reword
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/launch/ur_control.launch.py
Due: none

suppress overrun warnings when blocking read (#1927)
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Add missing reword
  ur_robot_driver/launch/ur_rsp.launch.py
Due: none

Fix a typo in launch file arg docstring (#1917)
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
