Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Fix result synchronization between service and control thread
  ur_controllers/include/ur_controllers/friction_model_controller.hpp
  ur_controllers/src/friction_model_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add an integration test for handing back control
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/integration_test_hand_back_control.py
  ur_robot_driver/test/resources/ursim/e-series/ur5e/programs/external_control.urp
  ur_robot_driver/test/resources/ursim/e-series/ur5e/programs/hand_back_control_test_prog.urp
  ur_robot_driver/test/test_common.py
Due: ament_lint_cmake

Explicitly send MODE_STOPPED when returning control to the robot
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Restore previous friction parameters on activation
  ur_controllers/src/friction_model_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make it C++11 compatible
  ur_controllers/src/friction_model_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Bind socket on any address
  ur_robot_driver/test/integration_test_hand_back_control.py
Due: none

Add deprecation warning for tool comm script (#1747)
  ur_robot_driver/scripts/tool_communication.py
Due: none

Friction model controller (#1704)
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/friction_model_controller.hpp
  ur_controllers/src/friction_model_controller.cpp
  ur_controllers/src/friction_model_controller_parameters.yaml
  ur_controllers/test/friction_model_controller_params.yaml
  ur_controllers/test/test_load_friction_model_controller.cpp
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_friction_model.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Update scaled JTC
  ur_controllers/include/ur_controllers/scaled_joint_trajectory_controller.hpp
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Hardware interface controller documentation
  .github/workflows/sphinx_build.yml
  ur_robot_driver/doc/features.rst
  ur_robot_driver/doc/force_torque_control.rst
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/position_velocity_control.rst
  ur_robot_driver/doc/usage/controllers.rst
  ur_robot_driver/doc/utility_controllers.rst
  ur_robot_driver/test/test_controller_doc_coverage.py
Due: none

Moved motion primitives to position and velocity
  ur_robot_driver/doc/position_velocity_control.rst
  ur_robot_driver/doc/utility_controllers.rst
Due: none

Change force_mode sections
  ur_robot_driver/doc/force_torque_control.rst
  ur_robot_driver/doc/position_velocity_control.rst
Due: none

Adjusted the force_torque_control.rst file
  ur_robot_driver/doc/force_torque_control.rst
Due: none

Move _ur_controllers label to ur_controllers
  ur_controllers/doc/index.rst
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Nitpicky ROS 2 notation
  ur_robot_driver/doc/features.rst
Due: none

Proofread hardware_interface.rst
  ur_robot_driver/doc/hardware_interface.rst
Due: none

Adjusted the position_velocity_control and utility
  ur_robot_driver/doc/position_velocity_control.rst
  ur_robot_driver/doc/utility_controllers.rst
Due: none

Update integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_controller_switch.py
Due: none

Delete ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Proofread position_velocity_control.rst
  ur_robot_driver/doc/position_velocity_control.rst
Due: none

Removed force mode controller from position_velocity
  ur_robot_driver/doc/position_velocity_control.rst
Due: none

Wording on controller usage overview
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Add docs for configuration controller
  ur_controllers/doc/index.rst
  ur_robot_driver/doc/utility_controllers.rst
Due: none

Proofread force_torque_control.rst
  ur_robot_driver/doc/force_torque_control.rst
  ur_robot_driver/doc/utility_controllers.rst
Due: none

Proofread utility_controllers
  ur_robot_driver/doc/utility_controllers.rst
Due: none

Document tcp_pose_broadcaster in more detail
  ur_robot_driver/doc/tcp_frames.png
  ur_robot_driver/doc/utility_controllers.rst
Due: none

Move the controllers under controllers
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/usage/controllers.rst
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/position_velocity_control.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
  ur_robot_driver/test/test_controller_doc_coverage.py
Due: none

Move tcp_frames.png with the rst file
  ur_robot_driver/doc/usage/tcp_frames.png
Due: none

REVERT_ME: Use feature branch of description
  Universal_Robots_ROS2_Driver.humble.repos
Due: none

Humble adjustments
  ur_controllers/include/ur_controllers/friction_model_controller.hpp
  ur_controllers/src/friction_model_controller.cpp
  ur_controllers/test/test_load_friction_model_controller.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
Due: ament_cppcheck, ament_cpplint, clang-format

Improved controller usage documentation (#1754)
  .github/workflows/sphinx_build.yml
  ur_controllers/doc/index.rst
  ur_robot_driver/doc/features.rst
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/usage/controllers.rst
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/position_velocity_control.rst
  ur_robot_driver/doc/usage/tcp_frames.png
  ur_robot_driver/doc/usage/utility_controllers.rst
  ur_robot_driver/test/test_controller_doc_coverage.py
Due: none

Revert "REVERT_ME: Use feature branch of description"
  Universal_Robots_ROS2_Driver.humble.repos
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

3.8.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
