Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Re-add documentation for new services
  ur_robot_driver/doc/ROS_INTERFACE.md
Due: none

Add gravity_update_controller files
  ur_controllers/CMakeLists.txt
  ur_controllers/include/ur_controllers/gravity_update_controller.hpp
  ur_controllers/src/gravity_update_controller.cpp
  ur_controllers/src/gravity_update_controller_parameters.yaml
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Add gravity update controller to launch bringup
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Remove gravity stuff from GPIO controller
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Configure correctly for runtime
  ur_controllers/controller_plugins.xml
  ur_controllers/src/gpio_controller.cpp
  ur_controllers/src/gravity_update_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Clean up for PR
  ur_controllers/include/ur_controllers/gravity_update_controller.hpp
  ur_controllers/src/gravity_update_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Return error from write when failing to write
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make non blocking read timeout configurable
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Return error from read when failing to read
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Return write success from all synchronous funcions
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add timeout to non-blocking read
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add on_error state handling
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Newline in docs
  ur_robot_driver/doc/hardware_interface_parameters.rst
Due: none

Update usage comment of stop()
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make pre-commit less depending on system setup (#1703)
  .pre-commit-config.yaml
Due: none

Change branch to jazzy
  .pre-commit-config.yaml
Due: none

Change branch to humble
  .pre-commit-config.yaml
Due: none

Change branch to kilted
  .pre-commit-config.yaml
Due: none

Align with the change in ur_msgs
  ur_controllers/src/friction_model_controller.cpp
  ur_robot_driver/test/integration_test_friction_model.py
Due: ament_cppcheck, ament_cpplint, clang-format

Friction model controller
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/friction_model_controller.hpp
  ur_controllers/src/friction_model_controller.cpp
  ur_controllers/src/friction_model_controller_parameters.yaml
  ur_controllers/test/friction_model_controller_params.yaml
  ur_controllers/test/test_load_friction_model_controller.cpp
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_friction_model.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Apply feedback
  ur_controllers/src/friction_model_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Move service setup/teardown
  ur_controllers/include/ur_controllers/gravity_update_controller.hpp
  ur_controllers/src/gravity_update_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

RT safety updates
  ur_controllers/include/ur_controllers/gravity_update_controller.hpp
  ur_controllers/src/gravity_update_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

[ur_controllers] Remove Werror from CMakeLists
  ur_controllers/CMakeLists.txt
Due: ament_lint_cmake

BSD-3-Clasue license
  ur_rtde_client/include/ur_rtde_client/converter.hpp
  ur_rtde_client/include/ur_rtde_client/publisher.hpp
  ur_rtde_client/include/ur_rtde_client/rtde_client_node.hpp
  ur_rtde_client/include/ur_rtde_client/rtde_manager.hpp
  ur_rtde_client/src/converter.cpp
  ur_rtde_client/src/publisher.cpp
  ur_rtde_client/src/rtde_client_node.cpp
  ur_rtde_client/src/rtde_manager.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove tool_communication.py from ur_robot_driver as it has been moved to the ur_client_library. UR control launch modified to point to the new tool_communication.py
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/tool_communication.py
Due: ament_lint_cmake

Update launch to use positional robot_ip for tool_communication
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Keep tool_communication.py as a wrapper for backwards compatibility
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/scripts/tool_communication.py
Due: ament_lint_cmake

Add CMake args for treating warnings as errors
  .github/workflows/reusable_ici.yml
Due: none

Make tool communication wrapper executable
  ur_robot_driver/scripts/tool_communication.py
Due: none

Remove superflous semicolon
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

[ur_controllers] Remove Werror from CMakeLists (#1720)
  .github/workflows/reusable_ici.yml
  ur_controllers/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Pass controller config to spawners
  ur_robot_driver/launch/ur_control.launch.py
Due: none

[Docs] Fix service definition of UpdateProgram
  ur_robot_driver/doc/dashboard_client.rst
Due: none

[Docs] Fix service definition of UpdateProgram (#1723)
  ur_robot_driver/doc/dashboard_client.rst
Due: none
