Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Publish feedback and handle cancel correctly
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Added controller to enable and disable tool contact (#940)
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_controllers/src/tool_contact_controller_parameters.yaml
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_tool_contact.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Reapply "Apply renaming of member variables of JTC (#1275)"
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Revert "Apply renaming of member variables of JTC (#1275)"
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Running integration tests with mock hardware
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

something got duplicated, removing
  ur_robot_driver/launch/ur_control.launch.py
Due: none

finish splitting passthrough controller tests
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none

Split integration tests out to one file per controller
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
Due: none

Split passthrough controller tests to its own file.
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

Robot driver tests pass with mock hardware
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

Add the separate tests to cmake file
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

formatting
  ur_robot_driver/test/test_common.py
Due: none

added motion_primitives_ur_driver_pkg from https://github.com/mathias31415/ros2_motion_primitives_ur_driver_pkg to the Universal_Robots_ROS2_Driver
  motion_primitives_ur_driver_pkg/CMakeLists.txt
  motion_primitives_ur_driver_pkg/LICENSE
  motion_primitives_ur_driver_pkg/README.md
  motion_primitives_ur_driver_pkg/config/ur_controllers.yaml
  motion_primitives_ur_driver_pkg/include/motion_primitives_ur_driver_pkg/motion_primitives_ur_driver.hpp
  motion_primitives_ur_driver_pkg/include/motion_primitives_ur_driver_pkg/visibility_control.h
  motion_primitives_ur_driver_pkg/launch/motion_primitive_controller_ur.launch.py
  motion_primitives_ur_driver_pkg/launch/ur_rsp.launch.py
  motion_primitives_ur_driver_pkg/motion_primitives_ur_driver_pkg.rolling.repos
  motion_primitives_ur_driver_pkg/motion_primitives_ur_driver_pkg.rolling.upstream.repos
  motion_primitives_ur_driver_pkg/motion_primitives_ur_driver_pkg.xml
  motion_primitives_ur_driver_pkg/motion_primitives_ur_driver_pkg/__init__.py
  motion_primitives_ur_driver_pkg/package.xml
  motion_primitives_ur_driver_pkg/scripts/send_multiple_dummy_motion_primitives.py
  motion_primitives_ur_driver_pkg/scripts/send_multiple_dummy_motion_primitives_after_checking_status.py
  motion_primitives_ur_driver_pkg/scripts/send_single_dummy_motion_primitive.py
  motion_primitives_ur_driver_pkg/src/motion_primitives_ur_driver.cpp
  motion_primitives_ur_driver_pkg/test/test_motion_primitives_ur_driver.cpp
  motion_primitives_ur_driver_pkg/urdf/motion_primitive_ur.ros2_control.xacro
  motion_primitives_ur_driver_pkg/urdf/motion_primitive_ur.urdf.xacro
  motion_primitives_ur_driver_pkg/urdf/ur_joint_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

renamed motion_primitives_ur_driver_pkg to ur_robot_motion_primitives_driver
  motion_primitives_ur_driver_pkg/motion_primitives_ur_driver_pkg.xml
  ur_robot_motion_primitives_driver/CMakeLists.txt
  ur_robot_motion_primitives_driver/LICENSE
  ur_robot_motion_primitives_driver/README.md
  ur_robot_motion_primitives_driver/config/ur_controllers.yaml
  ur_robot_motion_primitives_driver/include/ur_robot_motion_primitives_driver/motion_primitives_ur_driver.hpp
  ur_robot_motion_primitives_driver/include/ur_robot_motion_primitives_driver/visibility_control.h
  ur_robot_motion_primitives_driver/launch/motion_primitive_controller_ur.launch.py
  ur_robot_motion_primitives_driver/launch/ur_rsp.launch.py
  ur_robot_motion_primitives_driver/package.xml
  ur_robot_motion_primitives_driver/scripts/send_multiple_dummy_motion_primitives.py
  ur_robot_motion_primitives_driver/scripts/send_multiple_dummy_motion_primitives_after_checking_status.py
  ur_robot_motion_primitives_driver/scripts/send_single_dummy_motion_primitive.py
  ur_robot_motion_primitives_driver/src/motion_primitives_ur_driver.cpp
  ur_robot_motion_primitives_driver/test/test_motion_primitives_ur_driver.cpp
  ur_robot_motion_primitives_driver/ur_robot_motion_primitives_driver.rolling.repos
  ur_robot_motion_primitives_driver/ur_robot_motion_primitives_driver.rolling.upstream.repos
  ur_robot_motion_primitives_driver/ur_robot_motion_primitives_driver.xml
  ur_robot_motion_primitives_driver/ur_robot_motion_primitives_driver/__init__.py
  ur_robot_motion_primitives_driver/urdf/motion_primitive_ur.ros2_control.xacro
  ur_robot_motion_primitives_driver/urdf/motion_primitive_ur.urdf.xacro
  ur_robot_motion_primitives_driver/urdf/ur_joint_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Humble-specific changes
  ur_controllers/src/tool_contact_controller.cpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

added functionallity to execute multiple primitives as a motion sequence
  ur_robot_motion_primitives_driver/config/ur_controllers.yaml
  ur_robot_motion_primitives_driver/include/ur_robot_motion_primitives_driver/motion_primitives_ur_driver.hpp
  ur_robot_motion_primitives_driver/scripts/send_multiple_dummy_motion_primitives.py
  ur_robot_motion_primitives_driver/src/motion_primitives_ur_driver.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Added new state interface ready_for_new_primitive to indicate whether the hardware interface can receive a new motion primitive — replaces the previous, more complex handling via execution_status
  ur_robot_motion_primitives_driver/config/ur_controllers.yaml
  ur_robot_motion_primitives_driver/include/ur_robot_motion_primitives_driver/motion_primitives_ur_driver.hpp
  ur_robot_motion_primitives_driver/scripts/send_multiple_dummy_motion_primitives.py
  ur_robot_motion_primitives_driver/src/motion_primitives_ur_driver.cpp
  ur_robot_motion_primitives_driver/urdf/motion_primitive_ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

removed case 33 block with hardcoded motion sequence (was only for testing)
  ur_robot_motion_primitives_driver/src/motion_primitives_ur_driver.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

edited readme
  ur_robot_motion_primitives_driver/README.md
Due: none

reduced blend radius for moveL
  ur_robot_motion_primitives_driver/scripts/send_multiple_dummy_motion_primitives.py
Due: none

integrated ur_robot_motion_primitives_driver into ur_robot_driver pkg
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/config/ur_controllers_motion_primitive.yaml
  ur_robot_driver/examples/send_dummy_motion_primitives.py
  ur_robot_driver/include/ur_robot_driver/motion_primitives_ur_driver.hpp
  ur_robot_driver/include/ur_robot_driver/visibility_control.h
  ur_robot_driver/launch/motion_primitive_controller_ur.launch.py
  ur_robot_driver/launch/motion_primitive_ur_rsp.launch.py
  ur_robot_driver/motion_primitive_hardware_interface_plugin.xml
  ur_robot_driver/package.xml
  ur_robot_driver/src/motion_primitives_ur_driver.cpp
  ur_robot_driver/urdf/motion_primitive_ur.ros2_control.xacro
  ur_robot_driver/urdf/motion_primitive_ur.urdf.xacro
  ur_robot_driver/urdf/motion_primitive_ur_joint_control.xacro
  ur_robot_motion_primitives_driver/CMakeLists.txt
  ur_robot_motion_primitives_driver/LICENSE
  ur_robot_motion_primitives_driver/package.xml
  ur_robot_motion_primitives_driver/scripts/send_multiple_dummy_motion_primitives_after_checking_status.py
  ur_robot_motion_primitives_driver/scripts/send_single_dummy_motion_primitive.py
  ur_robot_motion_primitives_driver/test/test_motion_primitives_ur_driver.cpp
  ur_robot_motion_primitives_driver/ur_robot_motion_primitives_driver.rolling.repos
  ur_robot_motion_primitives_driver/ur_robot_motion_primitives_driver.rolling.upstream.repos
  ur_robot_motion_primitives_driver/ur_robot_motion_primitives_driver.xml
  ur_robot_motion_primitives_driver/ur_robot_motion_primitives_driver/__init__.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

changed namespace from ur_robot_motion_primitives_driver to ur_robot_driver
  ur_robot_driver/include/ur_robot_driver/motion_primitives_ur_driver.hpp
  ur_robot_driver/include/ur_robot_driver/visibility_control.h
  ur_robot_driver/src/motion_primitives_ur_driver.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

edited readme
  ur_robot_driver/README_MotionPrimitive.md
Due: none

removed ur_controllers_motion_primitive.yaml
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/config/ur_controllers_motion_primitive.yaml
  ur_robot_driver/launch/motion_primitive_controller_ur.launch.py
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

3.2.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.7.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

removed motion_primitive_ur.urdf.xacro and motion_primitive_ur_rsp.launch.py and added if else for driver_type to load the right ros2_control.xacro file in ur.urdf.xacro
  ur_robot_driver/launch/motion_primitive_controller_ur.launch.py
  ur_robot_driver/launch/motion_primitive_ur_rsp.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/urdf/motion_primitive_ur.ros2_control.xacro
  ur_robot_driver/urdf/motion_primitive_ur.urdf.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

changed THIS_PACKAGE_INCLUDE_DEPENDS
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

chenaged/ semoved some comments
  ur_robot_driver/examples/send_dummy_motion_primitives.py
  ur_robot_driver/include/ur_robot_driver/stateinterface_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/src/motion_primitives_ur_driver.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

edited readme
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/doc/motion_primitive_ur_driver/MotionPrimitiveExecutionWithHelperTypes.drawio.png
  ur_robot_driver/doc/motion_primitive_ur_driver/ros2_control_motion_primitives_ur.drawio.png
Due: none

Update feature list to what is implemented
  ur_robot_driver/doc/features.rst
Due: none

changed images in readme to white background
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/doc/motion_primitive_ur_driver/MotionPrimitiveExecutionWithHelperTypes_whiteBackground.drawio.png
  ur_robot_driver/doc/motion_primitive_ur_driver/ros2_control_motion_primitives_ur_whiteBackground.drawio.png
Due: none

edited Related packages/ repos in readme
  ur_robot_driver/README_MotionPrimitive.md
Due: none

moved quaternion definition to stateinterface_helper.hpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/include/ur_robot_driver/quaternion.hpp
  ur_robot_driver/include/ur_robot_driver/stateinterface_helper.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
