Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Updated variable name to meaningful one
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fixed timer issue: starting only if active and for enable msgs
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Apply suggestions from code review
  ur_controllers/src/force_mode_controller.cpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Code formatting
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

ur_controllers: Update RealTimeBox (#1189)
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update force_mode example
  ur_robot_driver/examples/examples.py
  ur_robot_driver/examples/force_mode.py
Due: none

Do not require force_mode being inactive when trying to start force mode controller
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add force mode controller (#1049)
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/package.xml
  ur_controllers/src/force_mode_controller.cpp
  ur_controllers/src/force_mode_controller_parameters.yaml
  ur_controllers/test/force_mode_controller_params.yaml
  ur_controllers/test/test_load_force_mode_controller.cpp
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/doc/usage/controllers.rst
  ur_robot_driver/examples/examples.py
  ur_robot_driver/examples/force_mode.py
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_force_mode.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Add trajectory passthrough controller (#944)
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/package.xml
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_controllers/src/passthrough_trajectory_controller_parameters.yaml
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur10.launch.py
  ur_robot_driver/launch/ur10e.launch.py
  ur_robot_driver/launch/ur16e.launch.py
  ur_robot_driver/launch/ur20.launch.py
  ur_robot_driver/launch/ur3.launch.py
  ur_robot_driver/launch/ur30.launch.py
  ur_robot_driver/launch/ur3e.launch.py
  ur_robot_driver/launch/ur5.launch.py
  ur_robot_driver/launch/ur5e.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/example_move.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Resolve conflicts
  ur_bringup/config/ur_controllers.yaml
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/example_move.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Initialize segments in constructor of DHRobot in calibration.hpp
  ur_calibration/include/ur_calibration/calibration.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Call correctChain in Calibration constructor in calibration.cpp
  ur_calibration/src/calibration.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Initialize segments in constructor of DHRobot in calibration.hpp (#1197)
  ur_calibration/include/ur_calibration/calibration.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

update branch for realtime_tools
  Universal_Robots_ROS2_Driver.humble.repos
Due: none

update branch for realtime_tools (#1200)
  Universal_Robots_ROS2_Driver.humble.repos
Due: none

Added initial documentation
  ur_controllers/doc/index.rst
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Add force mode controller (#1049)
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/package.xml
  ur_controllers/src/force_mode_controller.cpp
  ur_controllers/src/force_mode_controller_parameters.yaml
  ur_controllers/test/force_mode_controller_params.yaml
  ur_controllers/test/test_load_force_mode_controller.cpp
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/examples/examples.py
  ur_robot_driver/examples/force_mode.py
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_force_mode.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Added inactive_timeout as parameter
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_controllers/src/freedrive_mode_controller_parameters.yaml
Due: ament_cppcheck, ament_cpplint, clang-format

Added async thread to log outside of update()
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Format docs
  ur_controllers/doc/index.rst
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Added check on active condition
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Initial tests
  ur_controllers/CMakeLists.txt
  ur_controllers/test/freedrive_mode_controller_params.yaml
  ur_controllers/test/test_load_freedrive_mode_controller.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Fix formatting
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix resource claiming in hw interface
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
Due: ament_cppcheck, ament_cpplint, clang-format

Update ur_controllers/doc/index.rst
  ur_controllers/doc/index.rst
Due: none

Update ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update ur_controllers/src/freedrive_mode_controller.cpp
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update package maintainers
  ur/package.xml
  ur_calibration/package.xml
  ur_controllers/package.xml
  ur_dashboard_msgs/package.xml
  ur_moveit_config/package.xml
  ur_robot_driver/package.xml
Due: none

Update package maintainers (#1203)
  ur/package.xml
  ur_calibration/package.xml
  ur_controllers/package.xml
  ur_dashboard_msgs/package.xml
  ur_moveit_config/package.xml
  ur_robot_driver/package.xml
Due: none

Update package maintainers
  ur/package.xml
  ur_bringup/package.xml
  ur_calibration/package.xml
  ur_controllers/package.xml
  ur_dashboard_msgs/package.xml
  ur_moveit_config/package.xml
  ur_robot_driver/package.xml
Due: none

Update package list
  .github/workflows/coverage-build.yml
Due: none

Use testing repo in coverage build
  .github/workflows/coverage-build.yml
Due: none

Do not skip tests in coverage build
  .github/workflows/coverage-build.yml
Due: none

Increase codecov version and migrate to token
  .github/workflows/coverage-build.yml
Due: none

Make sure the CI fails if codecov action fails
  .github/workflows/coverage-build.yml
Due: none

Add control_toolbox to semi-binary repos files
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
