Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

wrapped current_moprim_execution_status_ into an std::atomic<>
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Updated link for MoveC modes
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

removed "Author modifications: Mathias Fuhrer" in launchfile
  ur_robot_driver/launch/ur_control.launch.py
Due: none

changed headless_mode default value back to false
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Rewrite to use a variant for the until type
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

pre-commit changes
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/trajectory_until_node.rst
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/trajectory_until_node.cpp
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Trajectory until node functionality complete
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Write tests for trajectory until node
  ur_robot_driver/src/trajectory_until_node.cpp
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: ament_cppcheck, ament_cpplint, clang-format

FIx until node CMAKE
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

add trajectory until node
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add documentation
  ur_robot_driver/doc/index.rst
  ur_robot_driver/doc/trajectory_until_node.rst
Due: none

Work done so far.
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Clean up and comments
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Move TIMEOUT_EXECUTE_TRAJECTORY to test_common file
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

Change includes and rename action
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

formatting
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Clean up all the test setups and remove irrelevant tests
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Move sjtc trajectory and illegal trajectory test to test_common, so it can be used by mock hardware test as well.
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/test_mock_hardware.py
Due: none

formatting
  ur_robot_driver/test/test_common.py
Due: none

Revert "Apply renaming of member variables of JTC (#1275)"
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Apply suggestions from code review
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Apply renaming to the last few test classes
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_force_mode.py
  ur_robot_driver/test/integration_test_tool_contact.py
Due: none

finish splitting passthrough controller tests
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none

Add the separate tests to cmake file
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Add mock hardware test description
  ur_robot_driver/test/test_common.py
Due: none

something got duplicated, removing
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Split integration tests out to one file per controller
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
Due: none

add mock hardware test to build tests
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

remove mock hardware parameter from setUpClass
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Move all mock harrdware tests in to their own file
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Running integration tests with mock hardware
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Split passthrough controller tests to its own file.
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

Remove controller switching tests
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Remove passthrough test from sjtc test script
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
Due: none

Reapply "Apply renaming of member variables of JTC (#1275)"
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Clean up test description generators
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Robot driver tests pass with mock hardware
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

fix config controller test
  ur_robot_driver/test/integration_test_config_controller.py
Due: none

Add an example using the move_until_node
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/examples/move_until_example.py
Due: ament_lint_cmake

Fixed and added move_until integration test
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: ament_lint_cmake

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
