Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Validate non-blocking read timeout
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Short-circuit failed hardware writes
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Propagate motion primitive queue failures
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove redundant `first_pass_` variable, make `initialized_` atomic for thread safety, and reset `initialized_` in `resetActivationState`. Add tests to check that it is reset correctly
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Check that read timeout in not outside int64 limits
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Drain moprim command queue on reactivation
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix includes
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Reset `stop_requested_`
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix reset of async_thread_shutdown_. The async thread can no longer clear its own stop request
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Clear all async state between activations
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Ensure mode switches only succeed if tool contact and force mode can be stopped
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Reset all controller flags and twist command
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Reset all hardware interface state before reconfiguring. `resetHardwareInterfaceState` now leaves the hardware interface in the same state as just after `on_init`, which removes some duplicate code.
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add non blocking read timeout to toplevel xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Add wrapper around hardware resources, so they can be mocked, and a full end-to-end test is possible
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_faults.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update documentation, as well.
  ur_robot_driver/doc/robot_state_helper.rst
Due: none

Improve wording
  ur_robot_driver/doc/robot_state_helper.rst
Due: none

Specify minimum required PolyScopeX version in robot_state_helper output (#1992)
  ur_robot_driver/doc/robot_state_helper.rst
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/src/robot_state_helper.cpp
  ur_robot_driver/test/test_robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Resolve merge conflicts
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Do not force an illegal terminal transition on an unrequested CANCELED child result
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Do not drop a tool contact goal handle before its terminal state is delivered
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_controllers/test/test_tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make urscript_interface startup interruptible
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make DashboardClient startup with wrong IP interruptible
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_node.cpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use LogHandler in urscript_interface node
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Potential fix for pull request finding 'Startup failure falls through to indefinite spin with success status'
  ur_robot_driver/src/urscript_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

docs: document WSL2 network setup for ur_robot_driver
  ur_robot_driver/doc/installation/robot_setup.rst
Due: none

Combine interruptible db_client and autoconnect feature
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_node.cpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add integration tests for interruptible startup
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/dashboard_client_interruptible_startup.py
  ur_robot_driver/test/urscript_interface_interruptible_startup.py
Due: ament_lint_cmake

Fix race condition
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add an exit path if getting the robot version fails
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Actually wait for retry log output in integration tests
  ur_robot_driver/test/dashboard_client_interruptible_startup.py
  ur_robot_driver/test/urscript_interface_interruptible_startup.py
Due: none

Reword output when child action gets canceled.
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make urscript_interface and dashboard_client startup interruptible (#2006)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_node.cpp
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/src/urscript_interface.cpp
  ur_robot_driver/test/dashboard_client_interruptible_startup.py
  ur_robot_driver/test/urscript_interface_interruptible_startup.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
