Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Fix a typo in launch file arg docstring (#1917)
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
Due: none

Resolve merge conflicts
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
Due: none

Resolve merge conflicts
  ur_controllers/CMakeLists.txt
  ur_controllers/doc/index.rst
  ur_robot_driver/doc/usage/position_velocity_control.rst
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/src/mode_compatibility.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Fix test
  ur_robot_driver/test/integration_test_twist_controller.py
Due: none

Resolve conflicts
  ur_robot_driver/doc/usage/position_velocity_control.rst
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_twist_controller.py
Due: none

Made io controller tests compatible with CB3
  ur_robot_driver/test/integration_test_io_controller.py
Due: none

Add hand_back_control_test_prog for CB3
  .github/dockerursim/ursim_storage/3.15.8/ur10/programs/hand_back_control_test_prog.urp
Due: none

Skip tool_contact and taj_until tests on CB3
  ur_robot_driver/test/integration_test_tool_contact.py
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: none

Skip tool contact in controller_switch test on CB3
  ur_robot_driver/test/integration_test_controller_switch.py
Due: none

Add labeles to twist_controller tests
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Report operational status with mock hardware (#1923)
  ur_robot_driver/test/test_mock_hardware.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Skip twist_controller / tool_contact_controller compat test on CB3
  ur_robot_driver/test/integration_test_twist_controller.py
Due: none

Increase tolerance in abort check
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
Due: none

Resolve conflicts
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Re-add flag for running models test
  .github/workflows/reusable_ici_build.yml
Due: none

Restore change detection
  .github/workflows/reusable_ici_build.yml
Due: none

Also reset recently added twist_controller test
  ur_robot_driver/test/integration_test_twist_controller.py
Due: none

Add tf_prefix support to MoveIt SRDF
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_moveit_config/srdf/ur.srdf.xacro
  ur_moveit_config/srdf/ur_macro.srdf.xacro
Due: none

Add test for MoveIt SRDF tf_prefix support
  ur_moveit_config/CMakeLists.txt
  ur_moveit_config/package.xml
  ur_moveit_config/test/test_srdf_tf_prefix.py
Due: ament_lint_cmake

Update dashboard client for 10.14.0
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/srv/DownloadSupportFile.srv
  ur_dashboard_msgs/srv/Popup.srv
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/test/dashboard_client.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Set command interface in tool contact controller
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add integration test for 0 time trajectories
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none

Correctly handle very short 1pt trajectories for passthrough
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Cancel previous CI runs on new pushes to PR branches
  .github/workflows/humble-binary-main.yml
  .github/workflows/humble-binary-testing.yml
  .github/workflows/humble-semi-binary-main.yml
  .github/workflows/jazzy-binary-main.yml
  .github/workflows/jazzy-binary-testing.yml
  .github/workflows/jazzy-semi-binary-main.yml
  .github/workflows/kilted-binary-main.yml
  .github/workflows/kilted-binary-testing.yml
  .github/workflows/kilted-semi-binary-main.yml
  .github/workflows/kilted-semi-binary-testing.yml
  .github/workflows/lyrical-binary-main.yml
  .github/workflows/lyrical-binary-testing.yml
  .github/workflows/lyrical-semi-binary-main.yml
  .github/workflows/lyrical-semi-binary-testing.yml
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-main.yml
  .github/workflows/rolling-semi-binary-testing.yml
Due: none

Drop gzip step in image transfer
  .github/workflows/reusable_ici_build.yml
  .github/workflows/reusable_ici_integration_test.yml
Due: none

Fix docker load flag
  .github/workflows/reusable_ici_integration_test.yml
Due: none

REVERT_ME: Revert model test docstring updates
  ur_robot_driver/test/integration_test_robot_models.py
Due: none

Update artifact action versions
  .github/workflows/reusable_ici_build.yml
  .github/workflows/reusable_ici_integration_test.yml
Due: none

Update cache action
  .github/workflows/reusable_ici_build.yml
  .github/workflows/reusable_ici_integration_test.yml
Due: none

Fix flaky quintic spline test in passthrough controller
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none

Make integration tests of motion primitive handling
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/integration_test_motion_primitives.py
Due: ament_lint_cmake

Use MotionTargets in processMoprimMotionCmd
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add `hardware_solves_kinematics` controllers yaml
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
