Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

6.0.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Temporarily deactivate model test
  .github/workflows/reusable_ici.yml
Due: none

Resolve merge conflicts
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Check payload state in gpio_controller (#1770)
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
  ur_controllers/src/gpio_controller_parameters.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/test_mock_hardware.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Humble-specific changes
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/launch/ur_control.launch.py
Due: ament_cppcheck, ament_cpplint, clang-format

Update README and ci_status pages (#1784)
  README.md
  ci_status.md
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Fix merge conflicts
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Update controllers.rst
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.13.1
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Kilted verify robot model (#1779)
  .github/workflows/reusable_ici.yml
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_robot_models.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

4.7.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Update hardware_interface.cpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Delete .github/workflows/reusable_ici.yml
  .github/workflows/reusable_ici.yml
Due: none

Add robot series to error output on mismatch
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Exit 1 on error
  ur_robot_driver/scripts/example_move.py
Due: none

Add tf_prefix parameter
  ur_robot_driver/scripts/example_move.py
Due: none

Fail example move on error (#1795)
  ur_robot_driver/scripts/example_move.py
Due: none

Add velocity-related debug output to joint tolerance
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add output to goal tolerance failures in passthrough controller
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update example_move.py
  ur_robot_driver/scripts/example_move.py
Due: none

docs: clarify effort control limitations in URSim
  ur_robot_driver/doc/usage/simulation.rst
Due: none

docs: fix minor typo
  ur_robot_driver/doc/usage/simulation.rst
Due: none

tests: add integration tests for cubic and quintic splines with explicit dynamics
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none

feat: add hardware awaiter to prevent premature controller spawning
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/ur_hardware_awaiter.py
Due: ament_lint_cmake

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
