Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

adding the documentation + the xml
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
Due: none

getting rid of publish rate var
  ur_controllers/include/ur_controllers/ur_robot_mode_broadcaster.hpp
  ur_controllers/src/ur_robot_mode_broadcaster_parameters.yaml
Due: ament_cppcheck, ament_cpplint, clang-format

ur launch file
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/launch/ur_control.launch.py
Due: none

robot broadcaster
  ur_controllers/src/ur_robot_mode_broadcaster.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/include/ur_robot_driver/robot_mode_data_consumer.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Set command interface in tool contact controller (#1939)
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix interruptible URScript interface startup
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/src/urscript_interface.cpp
  ur_robot_driver/test/test_urscript_interface_shutdown.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

If cancellation is requested, exit early
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add tests for tool_contact_controller
  ur_controllers/CMakeLists.txt
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/test/test_tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Potential fix for pull request finding
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Refactor code structure
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/package.xml
  ur_robot_driver/src/robot_state_helper.cpp
  ur_robot_driver/src/robot_state_helper_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Explicitly flag if there's a goal pending
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Address thread safety and shutdown behavior of RobotStateHelper
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/src/robot_state_helper.cpp
  ur_robot_driver/test/test_robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Remove pending request
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make sure to set terminal state correctly
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix two race conditions
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Also consider rclcpp::ok in safeDashbaordTrigger
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Only publish feedback if goal is active
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove dead code
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add more tests
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/test/test_robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Add more tests
  ur_controllers/test/test_tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Potential fix for pull request finding
  ur_controllers/test/test_tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix formatting
  ur_controllers/test/test_tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix/passthrough controller very short trajectories (#1940)
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: ament_cppcheck, ament_cpplint, clang-format

Fix shutdown test output stream matching
  ur_robot_driver/test/test_urscript_interface_shutdown.py
Due: none

Make sure a canceled goal doesn't report as aborted
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make wording more precise
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Code formatting
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Check full version received from the dashboard client
  ur_robot_driver/test/dashboard_client.py
Due: none

Fix test
  ur_robot_driver/test/dashboard_client.py
Due: none
