Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

4.3.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

Update ur_robot_driver/doc/operation_modes.rst
  ur_robot_driver/doc/operation_modes.rst
Due: none

Specify that only PS5 needs the option of remote control explicitly e… (#1530)
  ur_robot_driver/doc/operation_modes.rst
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Re-add ur_ros2_control_node to install targets
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Fix import
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: none

Activate necessary controllers
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: none

DEBUG
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use parameters for action servers
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

refactor checking for a successful cancelation
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: none

Update branch of control_toolbox in upstream ws
  Universal_Robots_ROS2_Driver.kilted.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Update ros2_control branch for upstream workspace
  Universal_Robots_ROS2_Driver.jazzy.repos
Due: none

Update branch of control_toolbox in upstream ws (#1539)
  Universal_Robots_ROS2_Driver.kilted.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Update ros2_control branch for upstream workspace (#1540)
  Universal_Robots_ROS2_Driver.jazzy.repos
Due: none

Add missing update_rate config files for UR7e and UR12e
  ur_robot_driver/config/ur12e_update_rate.yaml
  ur_robot_driver/config/ur7e_update_rate.yaml
Due: none

Add migration notes to packages.
  .github/workflows/sphinx_build.yml
  doc_requirements.txt
  ur_controllers/doc/conf.py
  ur_moveit_config/doc/index.rst
  ur_moveit_config/doc/migration_notes.rst
  ur_robot_driver/doc/index.rst
  ur_robot_driver/doc/migration_notes.rst
Due: none

Add conf.py to moveit_config package
  ur_moveit_config/doc/conf.py
Due: none

Suppress reference warnings when building package docs individually
  ur_controllers/doc/conf.py
  ur_moveit_config/doc/conf.py
  ur_robot_driver/doc/conf.py
Due: none

Add support for UR18 (#1524)
  README.md
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/config/ur18_update_rate.yaml
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur18.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Resolve conflicts
  ur_bringup/config/ur18_update_rate.yaml
  ur_bringup/launch/ur18.launch.py
  ur_bringup/launch/ur_control.launch.py
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Do not revert sorting the model list
  README.md
  ur_robot_driver/doc/usage/startup.rst
Due: none

Add effort command interface to hardware interface (#1411)
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/index.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
Due: ament_cppcheck, ament_cpplint, clang-format

Resolve merge conflicts
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/index.rst
Due: none

Apply suggestions from code review
  ur_controllers/doc/conf.py
  ur_moveit_config/doc/conf.py
Due: none

Support PolyScopeX Robot API through the dashboard client
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add resume service to docs
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add migration notes to individual packages (#1545)
  .github/workflows/sphinx_build.yml
  doc_requirements.txt
  ur_controllers/doc/conf.py
  ur_moveit_config/doc/conf.py
  ur_moveit_config/doc/index.rst
  ur_moveit_config/doc/migration_notes.rst
  ur_robot_driver/doc/conf.py
  ur_robot_driver/doc/index.rst
  ur_robot_driver/doc/migration_notes.rst
Due: none

Add missing update_rate config files for UR7e and UR12e (#1544)
  ur_robot_driver/config/ur12e_update_rate.yaml
  ur_robot_driver/config/ur7e_update_rate.yaml
Due: none

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.10.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

3.5.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Apply suggestions from code review
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
Due: ament_cppcheck, ament_cpplint, clang-format
