Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

ur_robot_driver: Fix compilation on Windows (#1421)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

3.3.3
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Wait for lookup before attempting it
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

Added 'is in remote control' call as a dashboard service
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/srv/IsInRemoteControl.srv
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Added documentation
  ur_robot_driver/doc/dashboard_client.rst
Due: none

Update ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/doc/dashboard_client.rst
Due: none

Add a release config file for GitHub release note auto-generation
  .github/release.yml
Due: none

Added 'is in remote control' call as a dashboard service (#1433)
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/srv/IsInRemoteControl.srv
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Added 'is in remote control' call as a dashboard service (#1433)
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/srv/IsInRemoteControl.srv
  ur_robot_driver/doc/ROS_INTERFACE.md
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

REVERT_ME: Default to passthrough controller
  ur_moveit_config/config/moveit_controllers.yaml
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Ignore first point when time is 0
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add documentation for hardware interface including effort control mode
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/index.rst
Due: none

Add effort controller to controller switch test
  ur_robot_driver/test/integration_test_controller_switch.py
Due: none

removed queue_size param
  ur_robot_driver/config/ur_controllers.yaml
Due: none

removed name from ros__parameters of motion_primitive_controller
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Set minimal velocity tolerance in passthrough trajectory test
  ur_robot_driver/test/robot_driver.py
Due: none

Adjusted ExecutionState and MotionType for Enum definition in moprim controller
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Explicitly switch on controllers in test where they are needed
  ur_robot_driver/test/robot_driver.py
Due: none

Reduce flakiness of trajectory controller tests (#1443)
  ur_robot_driver/test/robot_driver.py
Due: none

renamed motion_primitive_controller to motion_primitive_forward_controller
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/examples/send_dummy_motion_primitives_hka_ur10e.py
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Fix
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

Fix flaky controller switch test
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/urscript_interface.py
Due: none

Remove waiting for service. That should be included in the interface already.
  ur_robot_driver/test/integration_test_controller_switch.py
Due: none

fix_flaky_force_mode_test (#1429)
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

Update integration_test_force_mode.py
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

Fix flaky controller switch test (#1447)
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/urscript_interface.py
Due: none

Adjusted Action GoalStatus handling to changes in the controller implementation
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/examples/send_dummy_motion_primitives_hka_ur10e.py
Due: none

Using MotionType from msg definition and MotionHelperType from enum in the controller
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/package.xml
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

using ros-controls/control_msgs#228 instead of industrial_robot_motion_interfaces
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/examples/send_dummy_motion_primitives_hka_ur10e.py
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/package.xml
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

changed {motion_primitives_forward_controller_TARGETS} to motion_primitives_forward_controller::motion_primitives_forward_controller
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
