Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Add control_toolbox to semi-binary repos file
  Universal_Robots_ROS2_Driver.humble.repos
Due: none

Add control_toolbox to semi-binary repos files (#1208)
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Add control_toolbox to semi-binary repos file (#1209)
  Universal_Robots_ROS2_Driver.humble.repos
Due: none

Added comment
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

No += overload for Duration class on humble
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make ur_controllers compileable on humble (#1207)
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Added on_cleanup to guarantee RT safety and fixed flag init
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix running force_mode controller alongside passthrough trajectory controller
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_force_mode.py
Due: ament_cppcheck, ament_cpplint, clang-format

Updated callback name and added comment for Command Intefaces
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix running force_mode controller alongside passthrough trajectory controller (#1210)
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_force_mode.py
Due: ament_cppcheck, ament_cpplint, clang-format

Freedrive Controller (#1114)
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_controllers/src/freedrive_mode_controller_parameters.yaml
  ur_controllers/test/freedrive_mode_controller_params.yaml
  ur_controllers/test/test_load_freedrive_mode_controller.cpp
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/doc/usage/controllers.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur10.launch.py
  ur_robot_driver/launch/ur10e.launch.py
  ur_robot_driver/launch/ur16e.launch.py
  ur_robot_driver/launch/ur20.launch.py
  ur_robot_driver/launch/ur3.launch.py
  ur_robot_driver/launch/ur30.launch.py
  ur_robot_driver/launch/ur3e.launch.py
  ur_robot_driver/launch/ur5.launch.py
  ur_robot_driver/launch/ur5e.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Add force mode controller (#1049)
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/package.xml
  ur_controllers/src/force_mode_controller.cpp
  ur_controllers/src/force_mode_controller_parameters.yaml
  ur_controllers/test/force_mode_controller_params.yaml
  ur_controllers/test/test_load_force_mode_controller.cpp
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/examples/examples.py
  ur_robot_driver/examples/force_mode.py
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_force_mode.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

3.0.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.5.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

improve docs around calibration
  ur_robot_driver/doc/installation/robot_setup.rst
  ur_robot_driver/doc/usage/startup.rst
Due: none

add note about looking for error in console
  ur_robot_driver/doc/usage/startup.rst
Due: none

Some minor rewordings and clarifications
  ur_robot_driver/doc/installation/robot_setup.rst
  ur_robot_driver/doc/usage/startup.rst
Due: none

improve docs around usage of extracted calibration info (#1214)
  ur_robot_driver/doc/installation/robot_setup.rst
  ur_robot_driver/doc/usage/startup.rst
Due: none

Add missing test dependencies for ur_controllers
  ur_controllers/package.xml
Due: none

Add missing test dependencies for ur_controllers (#1215)
  ur_controllers/package.xml
Due: none

Update package.xml
  ur_controllers/package.xml
Due: none

Fix whitespaces
  ur_controllers/package.xml
Due: none

re-add hardware_interface_testing
  ur_controllers/package.xml
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.5.1
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Remove unused include
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove unused include (#1220)
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

3.0.1
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
