Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

2.15.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Further doc refinements
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/doc/migration/makoa.rst
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
Due: none

Revert version note to 10.11.0
  ur_robot_driver/doc/hardware_interface.rst
Due: none

Use motor currents as efforts for CB3 models in robot model integration test
  ur_robot_driver/test/integration_test_robot_models.py
  ur_robot_driver/test/test_common.py
Due: none

Potential fix for pull request finding
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

7.1.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

6.1.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

4.9.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

3.9.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

Allow using the actual torques as joint efforts (#1551)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/doc/migration/makoa.rst
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_joint_efforts.py
  ur_robot_driver/test/integration_test_robot_models.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Update to latest changes
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/doc/migration/lyrical.rst
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_joint_efforts.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

[ur_calibration] Added call Pipeline::init() so the primary stream connects before Pipeline::run() is called.
  ur_calibration/src/calibration_correction.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

[ur_calibration] Added call Pipeline::init() so the primary stream connects before Pipeline::run() is called. (#1981)
  ur_calibration/src/calibration_correction.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

ur_robot_driver: migrate off deprecated Handle raw-pointer API
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_hardware_interface_exports.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Currents as efforts (#1918)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/doc/migration/lyrical.rst
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_joint_efforts.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Resolve merge conflicts
  ur_robot_driver/doc/migration/lyrical.rst
  ur_robot_driver/doc/usage/controllers.rst
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Resolve merge conflicts
  ur_robot_driver/doc/migration/lyrical.rst
  ur_robot_driver/doc/usage/controllers.rst
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Attempt to resolve backport conflicts
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/doc/migration/lyrical.rst
  ur_robot_driver/doc/usage/controllers.rst
  ur_robot_driver/doc/usage/force_torque_control.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/utility_controllers.rst
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Specify minimum required PolyScopeX version in robot_state_helper output
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/src/robot_state_helper.cpp
  ur_robot_driver/test/test_robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

[ur_moveit_config] Update license tag
  ur_moveit_config/package.xml
Due: none

[ur_moveit_config] Update license tag (#1993)
  ur_moveit_config/package.xml
Due: none

Fix doc to match scope of controller code
  ur_robot_driver/doc/usage/position_velocity_control.rst
Due: none

Fix non-blocking timeout logging
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format
