Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

4.0.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

README: Update branches for Jazzy and Kilted (#1364)
  README.md
  ci_status.md
Due: none

3.3.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Remove unused files from .github folder (#1369)
  .github/ISSUE_TEMPLATE/new_feature.yaml
  .github/ISSUE_TEMPLATE/ros2_bug.yaml
  .github/dependabot.yml
  .github/dockerursim/.vol/default.installation
  .github/dockerursim/.vol/default.variables
  .github/dockerursim/.vol/programs.UR5
  .github/dockerursim/Dockerfile
  .github/dockerursim/build_and_run_docker_ursim.sh
  .github/dockerursim/safety.conf.UR5
  .github/dockerursim/ursim/run
  .github/mergify.yml
  .github/workflows/coverage-build.yml
  .github/workflows/foxy-binary-build.yml
  .github/workflows/galactic-binary-build.yml
  .github/workflows/humble-binary-main.yml
  .github/workflows/humble-binary-testing.yml
  .github/workflows/humble-semi-binary-main.yml
  .github/workflows/iron-binary-main.yml
  .github/workflows/issue-states.yml
  .github/workflows/jazzy-binary-main.yml
  .github/workflows/jazzy-binary-testing.yml
  .github/workflows/jazzy-semi-binary-main.yml
  .github/workflows/kilted-binary-main.yml
  .github/workflows/kilted-binary-testing.yml
  .github/workflows/kilted-semi-binary-main.yml
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-main.yml
  .github/workflows/update-ci.yml
  Universal_Robots_ROS2_Driver.kilted.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.8.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Add a release config file for GitHub release note auto-generation
  .github/release.yml
Due: none

Update feature list
  ur_robot_driver/doc/features.rst
Due: none

Add references to feature list
  ur_calibration/doc/index.rst
  ur_robot_driver/doc/features.rst
Due: none

Replace ament_target_dependencies calls
  ur_calibration/CMakeLists.txt
  ur_calibration/src/calibration_correction.cpp
  ur_controllers/CMakeLists.txt
  ur_robot_driver/CMakeLists.txt
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Update feature list (#1372)
  ur_calibration/doc/index.rst
  ur_robot_driver/doc/features.rst
Due: none

Update ur_robot_driver/CMakeLists.txt
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Update features.rst
  ur_robot_driver/doc/features.rst
Due: none

Update reference links for humble
  ur_robot_driver/doc/features.rst
Due: none

Replace ament_target_dependencies calls (#1373)
  ur_calibration/CMakeLists.txt
  ur_calibration/src/calibration_correction.cpp
  ur_controllers/CMakeLists.txt
  ur_robot_driver/CMakeLists.txt
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Update force_mode example to include a pose that is not in line with one of the main axes
  ur_robot_driver/examples/force_mode.py
Due: none

[force mode controller] Fix the task frame orientation
  ur_controllers/src/force_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make test use an arbitraty orientation
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

added python script for tests with ur10e at H-KA
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/examples/send_dummy_motion_primitives_hka_ur10e.py
  ur_robot_driver/examples/send_dummy_motion_primitives_ur5e.py
  ur_robot_driver/examples/send_joint_positions.py
Due: ament_lint_cmake

Reverted the outsourcing of state-interface functionallity to stateinterface_helper.hpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/include/ur_robot_driver/stateinterface_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

[force mode controller] Fix the task frame orientation (#1379)
  ur_controllers/src/force_mode_controller.cpp
  ur_robot_driver/examples/force_mode.py
  ur_robot_driver/test/integration_test_force_mode.py
Due: ament_cppcheck, ament_cpplint, clang-format

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

4.0.1
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

3.3.1
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Use std_atomic<bool> in SJTC
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

[force mode controller] Fix the task frame orientation (#1379)
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
