Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Update ur_robot_driver/doc/usage/simulation.rst
  ur_robot_driver/doc/usage/simulation.rst
Due: none

Clarify effort control limitations in URSim (#1800)
  ur_robot_driver/doc/usage/simulation.rst
Due: none

Update simulation.rst
  ur_robot_driver/doc/usage/simulation.rst
Due: none

Fix whitespace error introduced earlier
  ur_robot_driver/doc/usage/simulation.rst
Due: none

fix: check awaiter exit code before spawning controllers
  ur_robot_driver/launch/ur_control.launch.py
Due: none

fix: add timeout to async service call
  ur_robot_driver/scripts/ur_hardware_awaiter.py
Due: none

fix: add timer to evaluate the service call against its deadline
  ur_robot_driver/scripts/ur_hardware_awaiter.py
Due: none

fix: follow correct format
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/ur_hardware_awaiter.py
Due: none

fix: resolve remaining linting and whitespace issues
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/ur_hardware_awaiter.py
Due: none

switch to try publish
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

fix: prevent stale callbacks and use non-blocking service check
  ur_robot_driver/scripts/ur_hardware_awaiter.py
Due: none

feat: extend set_payload service with inertia matrix and transition_time
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_payload.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

feat: extend set_payload service with inertia matrix and transition_time backwards-compatible
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/test/integration_test_payload.py
Due: ament_cppcheck, ament_cpplint, clang-format

fix: prevent race condition in async payload execution
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

style: fix formatting issues
  ur_robot_driver/test/integration_test_payload.py
Due: none

style: fix missing formatting issues
  ur_robot_driver/test/integration_test_payload.py
Due: none

fix try_publish issue
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

add changes
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

fix
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

changes to teardown
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

feat: Use builtin_interfaces/Duration for transition_time
  ur_controllers/src/gpio_controller.cpp
  ur_robot_driver/test/integration_test_payload.py
Due: ament_cppcheck, ament_cpplint, clang-format

feat: Use builtin_interfaces/Duration for transition_time
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

test: Send request using builtin_interfaces/Duration and fix formatting issues
  ur_robot_driver/test/integration_test_payload.py
Due: none

Fix whitespace error introduced earlier (#1805)
  ur_robot_driver/doc/usage/simulation.rst
Due: none

Update minimum CMake version to 3.28.3
  ur/CMakeLists.txt
  ur_calibration/CMakeLists.txt
  ur_controllers/CMakeLists.txt
  ur_dashboard_msgs/CMakeLists.txt
  ur_moveit_config/CMakeLists.txt
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Fix buildfarm badges on ci_status
  ci_status.md
Due: none

Update coverage-build ubuntu to resolute
  .github/workflows/coverage-build.yml
Due: none

Fix buildfarm badges on ci_status (#1815)
  ci_status.md
Due: none

Update minimum CMake version to 3.28.3 (#1814)
  ur/CMakeLists.txt
  ur_calibration/CMakeLists.txt
  ur_controllers/CMakeLists.txt
  ur_dashboard_msgs/CMakeLists.txt
  ur_moveit_config/CMakeLists.txt
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Update safety status msg with new IO plane stop
  ur_dashboard_msgs/msg/SafetyStatus.msg
Due: none

Update coverage-build ubuntu to resolute (#1816)
  .github/workflows/coverage-build.yml
Due: none

Update safety status msg with new IO plane stop (#1817)
  ur_dashboard_msgs/msg/SafetyStatus.msg
Due: none

clean up try_publish_on_change signature
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
