Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

fix sphinx doc link in ur_robot_driver (#1240)
  ur_robot_driver/doc/make.bat
Due: none

Check quaternions for equal dot_product instead of comparing their components individually (#1238)
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

Remove Iron from the active distributions
  .github/workflows/iron-binary-main.yml
  .github/workflows/iron-binary-testing.yml
  .github/workflows/iron-semi-binary-main.yml
  .github/workflows/iron-semi-binary-testing.yml
  README.md
  ci_status.md
Due: none

Remove unused foxy and galactic builds
  .github/workflows/foxy-semi-binary-build.yml
  .github/workflows/galactic-execution-test.yml
  .github/workflows/galactic-semi-binary-build.yml
Due: none

Remove Iron from the active distributions (#1239)
  .github/workflows/foxy-semi-binary-build.yml
  .github/workflows/galactic-execution-test.yml
  .github/workflows/galactic-semi-binary-build.yml
  .github/workflows/iron-binary-main.yml
  .github/workflows/iron-binary-testing.yml
  .github/workflows/iron-semi-binary-main.yml
  .github/workflows/iron-semi-binary-testing.yml
  README.md
  ci_status.md
Due: none

Update robot_setup that has been moved to client_library
  ur_robot_driver/doc/installation/install_urcap_cb3.rst
  ur_robot_driver/doc/installation/install_urcap_e_series.rst
  ur_robot_driver/doc/installation/robot_setup.rst
  ur_robot_driver/doc/installation/toc.rst
  ur_robot_driver/doc/installation/ursim_docker.rst
Due: none

Update labels that are used in the client_library as well
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/doc/operation_modes.rst
  ur_robot_driver/doc/usage/script_code.rst
  ur_robot_driver/doc/usage/toc.rst
Due: none

Remove Iron from the active distributions (#1239)
  .github/workflows/iron-binary-main.yml
  README.md
  ci_status.md
Due: none

Add check_links workflow
  .github/helpers/check_urls.sh
  .github/workflows/check_links.yml
Due: none

Use urcl start_ursim from ur_bringup, as well
  ur_bringup/scripts/start_ursim.sh
Due: none

Update links in README
  .github/workflows/check_links.yml
  .pre-commit-config.yaml
  README.md
  ur_robot_driver/README.md
  ur_robot_driver/doc/installation/real_time.md
  ur_robot_driver/doc/installation/real_time.rst
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.5.2
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

3.0.2
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Update to merged robot_setup instructions
  ur_robot_driver/doc/operation_modes.rst
  ur_robot_driver/doc/setup_tool_communication.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/toc.rst
Due: none

Remove chaining from controller and add trajectory_until node
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/include/ur_controllers/trajectory_until_node.hpp
  ur_controllers/package.xml
  ur_controllers/src/tool_contact_controller.cpp
  ur_controllers/src/trajectory_until_node.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Clean up of code and logging. Added comments as well.
  ur_controllers/include/ur_controllers/trajectory_until_node.hpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_controllers/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Added documentation and started writing tests
  ur_controllers/doc/index.rst
  ur_controllers/src/tool_contact_controller_parameters.yaml
  ur_controllers/src/trajectory_until_node.cpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_tool_contact.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format

Add test parameter of initial joint controller to test with different motion controllers.
  ur_robot_driver/test/integration_test_tool_contact.py
  ur_robot_driver/test/test_common.py
Due: none

Move some documentation to client_library (#1245)
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/doc/installation/install_urcap_cb3.rst
  ur_robot_driver/doc/installation/install_urcap_e_series.rst
  ur_robot_driver/doc/installation/robot_setup.rst
  ur_robot_driver/doc/installation/toc.rst
  ur_robot_driver/doc/installation/ursim_docker.rst
  ur_robot_driver/doc/operation_modes.rst
  ur_robot_driver/doc/setup_tool_communication.rst
  ur_robot_driver/doc/usage/script_code.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/toc.rst
Due: none

Install the urdf directory of ur_robot_driver
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Remove urdf folder
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Remove urdf folder (#1257)
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Replace number of threads querying with $(...) notation
  .pre-commit-config.yaml
  ur_robot_driver/doc/installation/real_time.rst
Due: none

Fix doc links (#1247)
  .github/helpers/check_urls.sh
  .github/workflows/check_links.yml
  README.md
  ur_bringup/scripts/start_ursim.sh
  ur_robot_driver/README.md
  ur_robot_driver/doc/installation/real_time.md
  ur_robot_driver/doc/installation/real_time.rst
Due: none

Use new include path for generated parameter headers
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/include/ur_controllers/scaled_joint_trajectory_controller.hpp
  ur_controllers/include/ur_controllers/speed_scaling_state_broadcaster.hpp
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
  ur_controllers/package.xml
Due: ament_cppcheck, ament_cpplint, clang-format

Update pin validation to avoid compiler warning
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update to new realtime_tools header extension
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update more headers
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
  ur_robot_driver/src/ur_ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update formatting
  ur_robot_driver/test/integration_test_controller_switch.py
Due: none

Fix formatting
  ur_robot_driver/test/integration_test_controller_switch.py
Due: none

Remove build warnings for Humble (#1234)
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/include/ur_controllers/scaled_joint_trajectory_controller.hpp
  ur_controllers/include/ur_controllers/speed_scaling_state_broadcaster.hpp
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
  ur_controllers/package.xml
  ur_controllers/src/gpio_controller.cpp
  ur_controllers/src/ur_configuration_controller.cpp
  ur_robot_driver/src/ur_ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix formatting (#1262)
  ur_robot_driver/test/integration_test_controller_switch.py
Due: none

Fix broken link to robot_setup in README
  README.md
Due: none

Fix broken link to robot_setup in README (#1263)
  README.md
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
