Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Update computeCommand to compute_command
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix broken link to robot_setup in README (#1263)
  README.md
Due: none

Update Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.jazzy.repos
Due: none

Update Universal_Robots_ROS2_Driver.jazzy.repos (#1269)
  Universal_Robots_ROS2_Driver.jazzy.repos
Due: none

Fix crashes on shutting down
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Code formatting and license headers
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/src/robot_state_helper.cpp
  ur_robot_driver/src/robot_state_helper_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix crashes on shutting down (#1270)
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Move action to node's private namespace
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Rename node
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Add support for headless mode
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Allow stopping also when target mode == mode == RUNNING
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use only one service callback group
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove catkin libraries
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Add documentation for robot_state_helper
  ur_dashboard_msgs/action/SetMode.action
  ur_robot_driver/doc/index.rst
  ur_robot_driver/doc/robot_state_helper.rst
Due: none

Add controller_stopper documentation
  ur_robot_driver/doc/controller_stopper.rst
  ur_robot_driver/doc/index.rst
  ur_robot_driver/doc/usage/startup.rst
Due: none

New examples branch
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/examples/force_mode.py
  ur_robot_driver/examples/passthrough.py
  ur_robot_driver/examples/robot_class.py
  ur_robot_driver/examples/scaled_joint.py
Due: ament_lint_cmake

Remove until node from docs and cmake
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/package.xml
Due: ament_lint_cmake

Refactor tool contact controller
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_controllers/src/tool_contact_controller_parameters.yaml
Due: ament_cppcheck, ament_cpplint, clang-format

Refactor code and check all calls
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

The tests in robot_driver.py run, and initialisation is done entirely in conftest and test_common
  ur_robot_driver/test/conftest.py
  ur_robot_driver/test/pytest.ini
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

Remove trajectory until node
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/include/ur_controllers/trajectory_until_node.hpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_controllers/src/trajectory_until_node.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Wrote more tests and a little refactoring
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_tool_contact.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Rename member variables
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix pre-commit
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Apply renaming of member variables of JTC (#1275)
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add missing ici id
  .github/workflows/reusable_ici.yml
Due: none

REVERT_ME: open issues on any run
  .github/workflows/reusable_ici.yml
Due: none

add issue write permission
  .github/workflows/reusable_ici.yml
Due: none

Add automatic issue creation on failed CI runs
  .github/issue_template_failed_ci.md
  .github/workflows/humble-binary-main.yml
  .github/workflows/humble-binary-testing.yml
  .github/workflows/humble-semi-binary-main.yml
  .github/workflows/humble-semi-binary-testing.yml
  .github/workflows/iron-binary-main.yml
  .github/workflows/jazzy-binary-main.yml
  .github/workflows/jazzy-binary-testing.yml
  .github/workflows/jazzy-semi-binary-main.yml
  .github/workflows/jazzy-semi-binary-testing.yml
  .github/workflows/reusable_ici.yml
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-main.yml
  .github/workflows/rolling-semi-binary-testing.yml
Due: none

Add permissions to top-level
  .github/workflows/jazzy-binary-main.yml
Due: none

Update computeCommand to compute_command (#1265)
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

cast to double for future variant API
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

ur_controllers: doc -- Fix link to index page of driver
  ur_controllers/doc/index.rst
Due: none

ur_controllers: doc -- Fix link to index page of driver (#1284)
  ur_controllers/doc/index.rst
Due: none

Port robot_state_helper to ROS2 (#933)
  ur_dashboard_msgs/action/SetMode.action
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/controller_stopper.rst
  ur_robot_driver/doc/index.rst
  ur_robot_driver/doc/robot_state_helper.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/robot_state_helper.cpp
  ur_robot_driver/src/robot_state_helper_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Resolve merge conflicts
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/index.rst
Due: ament_lint_cmake

Use standard service rmw qos settings
  ur_robot_driver/src/robot_state_helper.cpp
Due: ament_cppcheck, ament_cpplint, clang-format
