Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Fix version gates
  ur_robot_driver/test/dashboard_client.py
Due: none

Contain information whether support files are present on the robot
  ur_dashboard_msgs/srv/DownloadSupportFile.srv
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/test/dashboard_client.py
Due: ament_cppcheck, ament_cpplint, clang-format

Make it compatible with c++17
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Advertise downloadSupportFiles service only on PolyScope X
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Do not treat "latest" as latest PolyScope X image
  ur_robot_driver/test/dashboard_client.py
Due: none

Remove redundant check
  ur_robot_driver/test/dashboard_client.py
Due: none

Fix gate for generate_support-file
  ur_robot_driver/test/dashboard_client.py
Due: none

Fix tool contact controller (#1952)
  ur_controllers/CMakeLists.txt
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_controllers/test/test_tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Revert "Advertise downloadSupportFiles service only on PolyScope X"
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/test/dashboard_client.py
Due: ament_cppcheck, ament_cpplint, clang-format

Fix links to ROS 2 documentation
  ur_robot_driver/doc/installation/installation.rst
Due: none

Update links to ROS installation documentation
  ur_robot_driver/doc/installation/installation.rst
Due: none

Resolve merge conflicts
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none

[Docs] Fix links to ROS 2 documentation (#1958)
  ur_robot_driver/doc/installation/installation.rst
Due: none

[Docs] Update links to ROS installation documentation (#1961)
  ur_robot_driver/doc/installation/installation.rst
Due: none

[Docs] Update links to ROS installation documentation (#1960)
  ur_robot_driver/doc/installation/installation.rst
Due: none

[Docs] Update links to ROS installation documentation (#1959)
  ur_robot_driver/doc/installation/installation.rst
Due: none

Fix/passthrough controller very short trajectories (#1940)
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: ament_cppcheck, ament_cpplint, clang-format

Resolve conflicts
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none

Resolve conflicts
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: ament_cppcheck, ament_cpplint, clang-format

[Docs] Update links to ROS installation documentation
  ur_robot_driver/doc/installation/installation.rst
Due: none

[Docs] Update links to ROS installation documentation (#1963)
  ur_robot_driver/doc/installation/installation.rst
Due: none

Add wait_robot_booted.py script
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/scripts/wait_robot_booted.py
  ur_robot_driver/test/dashboard_client.py
  ur_robot_driver/test/test_common.py
Due: ament_lint_cmake

If cancellation is requested, exit early
  ur_controllers/CMakeLists.txt
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_controllers/test/test_tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Set command interface in tool contact controller (#1939)
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

If cancellation is requested, exit early
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix return value to give full context to test
  ur_robot_driver/test/test_common.py
Due: none

Make sure, launch_testing doesn't interrupt the test before wait_robot_booted finished
  ur_robot_driver/test/dashboard_client.py
Due: none

Delete ur_robot_driver/doc/migration/makoa.rst
  ur_robot_driver/doc/migration/makoa.rst
Due: none

Fix parameter name in overrun condition
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Use blocking read in controller manager (#1760)
  ur_robot_driver/doc/migration/makoa.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Change default value to false
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Disable goal tolerance checks, when tolerance is 0.0.
  ur_controllers/doc/index.rst
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: ament_cppcheck, ament_cpplint, clang-format

Fix flaky quintic spline test in passthrough controller
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none
