Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

tear down all services on deactivate
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

move service lifetimes to configure/cleanup, reject calls while inactive
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

better comment
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

refactor: simplify controller awaiter and remove socket checks
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/ur_hardware_awaiter.py
Due: ament_lint_cmake

Make GPIO controller publishers realtime safe (#1807)
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use a realtime_tools::RealtimePublisher for publishing the state
  ur_controllers/include/ur_controllers/speed_scaling_state_broadcaster.hpp
  ur_controllers/src/speed_scaling_state_broadcaster.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix error introduced by earlier merge
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Ensure the controller is active in the service callback
  ur_controllers/src/gravity_update_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Change signature of service callback
  ur_controllers/include/ur_controllers/gravity_update_controller.hpp
  ur_controllers/src/gravity_update_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

fix: add the missing awaiter python script
  ur_robot_driver/scripts/ur_controller_manager_awaiter.py
Due: none

fix: Adjust file's format
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none

fix: Adjust file's format
  ur_robot_driver/scripts/ur_controller_manager_awaiter.py
Due: none

fix: Adjust file's description format
  ur_robot_driver/scripts/ur_controller_manager_awaiter.py
Due: none

fix: Exit 0 only if success
  ur_robot_driver/scripts/ur_controller_manager_awaiter.py
Due: none

fix: Avoid race condition in the OnProcessExit
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Use a realtime_tools::RealtimePublisher for publishing the state (#1822)
  ur_controllers/include/ur_controllers/speed_scaling_state_broadcaster.hpp
  ur_controllers/src/speed_scaling_state_broadcaster.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Adapt to humble API
  ur_controllers/src/gpio_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update to Humble API
  ur_controllers/src/speed_scaling_state_broadcaster.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Explicitly send MODE_STOPPED when returning control to the robot
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add an integration test for handing back control
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/integration_test_hand_back_control.py
  ur_robot_driver/test/resources/ursim/e-series/ur5e/programs/external_control.urp
  ur_robot_driver/test/resources/ursim/e-series/ur5e/programs/hand_back_control_test_prog.urp
  ur_robot_driver/test/test_common.py
Due: ament_lint_cmake

Use custom urcap mount point
  .github/workflows/reusable_ici.yml
  ur_robot_driver/test/integration_test_hand_back_control.py
  ur_robot_driver/test/test_common.py
Due: none

Explicitly setup IP address of ICI container
  .github/workflows/reusable_ici.yml
Due: none

fix retun type of lambda
  ur_controllers/src/gravity_update_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Explicitly send MODE_STOPPED when returning control to the robot (#1678)
  .github/workflows/reusable_ici.yml
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_hand_back_control.py
  ur_robot_driver/test/resources/ursim/e-series/ur5e/programs/external_control.urp
  ur_robot_driver/test/resources/ursim/e-series/ur5e/programs/hand_back_control_test_prog.urp
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Migrate humble workflows to reusable ici
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-binary-main.yml
  .github/workflows/humble-binary-testing.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/humble-semi-binary-main.yml
  .github/workflows/iron-binary-main.yml
Due: none

Fix merge conflicts
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format

Use SJTC in test
  ur_robot_driver/test/integration_test_hand_back_control.py
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.13.2
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Resolve merge conflicts
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format

Test on sjtc, not jtc
  ur_robot_driver/test/integration_test_hand_back_control.py
Due: none
