Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

3.5.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Fix formatting
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

dashboard_client test: Set the robot into a defined start state
  ur_robot_driver/test/dashboard_client.py
Due: none

Allow using the actual torques as joint efforts
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/resources/rtde_output_recipe.txt
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
  ur_robot_driver/urdf/ur.urdf.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Power off before powering on in tests
  ur_robot_driver/test/test_common.py
Due: none

Update Universal_Robots_ROS2_Driver.rolling.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Temporarily deactivate one testcase in controller_switch_test
  ur_robot_driver/test/integration_test_controller_switch.py
Due: none

Temporarily deactivate one testcase in controller_switch_test (#1553)
  ur_robot_driver/test/integration_test_controller_switch.py
Due: none

the ros2 jazzy during colcon build gives error of not accepting mode torque instead suggesting mode pose
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Resolve merge conflicts
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/index.rst
Due: none

Add effort command interface to hardware interface (#1411)
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/doc/hardware_interface.rst
  ur_robot_driver/doc/index.rst
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
Due: ament_cppcheck, ament_cpplint, clang-format

Fixed code formatting
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix syntax for link to robot_manual
  ur_robot_driver/doc/operation_modes.rst
Due: none

Fix EOL in ur_controllers.yaml
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Remove logging statements from perform_switch method
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add cross-controller compatibility checks
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
Due: ament_cppcheck, ament_cpplint, clang-format

Update coverage-build.yml
  .github/workflows/coverage-build.yml
Due: none

Fix syntax for link to robot_manual (#1558)
  ur_robot_driver/doc/operation_modes.rst
Due: none

Add missing dependency to effort_controllers
  ur_robot_driver/package.xml
Due: none

Implement motion_primitive interface in hardware interface (#1341)
  ur_calibration/include/ur_calibration/calibration.hpp
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/doc/motion_primitive_ur_driver/MotionPrimitiveExecutionWithHelperTypes_UR.drawio.png
  ur_robot_driver/doc/motion_primitive_ur_driver/moprim_forward_controller_ur_demo_thumbnail.png
  ur_robot_driver/doc/motion_primitive_ur_driver/ros2_control_motion_primitives_ur.drawio.png
  ur_robot_driver/examples/send_dummy_motion_primitives_ur10e.py
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/package.xml
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Dashboard client polyscopex (#1546)
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/test/dashboard_client.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format

Explicitly state PolyScope X compatibility
  README.md
  ur_calibration/package.xml
  ur_controllers/package.xml
  ur_dashboard_msgs/package.xml
  ur_moveit_config/package.xml
  ur_robot_driver/doc/usage/simulation.rst
  ur_robot_driver/package.xml
Due: none

Increase default dashboard client timeout to 2 seconds
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update ur_robot_driver/package.xml
  ur_robot_driver/package.xml
Due: none

Increase default dashboard client timeout to 2 seconds (#1564)
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Wait for controller to be running
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: none

Wait for controller to become active
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
Due: none

Fix flaky tests (#1559)
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: none

Explicitly state PolyScope X compatibility (#1563)
  README.md
  ur_calibration/package.xml
  ur_controllers/package.xml
  ur_dashboard_msgs/package.xml
  ur_moveit_config/package.xml
  ur_robot_driver/doc/usage/simulation.rst
  ur_robot_driver/package.xml
Due: none

Docs: Corrects forward controller docs
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
