Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Resolve conflicts
  .github/workflows/sphinx_build.yml
  .github/workflows/update-ci.yml
Due: none

Resolve conflicts
  .github/workflows/update-ci.yml
Due: none

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.14.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Add note about blocked tool comm port
  ur_robot_driver/doc/resources/inbound.png
  ur_robot_driver/doc/setup_tool_communication.rst
Due: none

Update ur_robot_driver/doc/setup_tool_communication.rst
  ur_robot_driver/doc/setup_tool_communication.rst
Due: none

Update setup_tool_communication.rst
  ur_robot_driver/doc/setup_tool_communication.rst
Due: none

Fix formatting
  ur_robot_driver/doc/setup_tool_communication.rst
Due: none

Add note about blocked tool comm port (#1904)
  ur_robot_driver/doc/resources/inbound.png
  ur_robot_driver/doc/setup_tool_communication.rst
Due: none

Setup CM to not sleep and use blocking read
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Update to renamed parameter
  ur_robot_driver/launch/ur_control.launch.py
Due: none

[sine_vel_ctrl] Add ability to select joints used for modifying
  ur_controllers/include/ur_controllers/sine_controller.hpp
  ur_controllers/src/sine_controller.cpp
  ur_controllers/src/sine_controller_parameters.yaml
  ur_robot_driver/config/ur_controllers.yaml
Due: ament_cppcheck, ament_cpplint, clang-format

[sine_vel_ctrl] Added a sine wave controller for debugging purposes
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/include/ur_controllers/sine_controller.hpp
  ur_controllers/src/sine_controller.cpp
  ur_controllers/src/sine_controller_parameters.yaml
  ur_dashboard_msgs/CMakeLists.txt
  ur_dashboard_msgs/msg/StampedDoubleArray.msg
  ur_dashboard_msgs/package.xml
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/launch/ur_control.launch.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

[sine_vel_ctrl] Use a fixed sampling period rather than the actual time
  ur_controllers/src/sine_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix trajectory_until_node goal acceptance handshake
  ur_robot_driver/src/trajectory_until_node.cpp
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: ament_cppcheck, ament_cpplint, clang-format

Split build and tests to reduce numbers of URSim startups
  .github/colcon_defaults_ici.yaml
  .github/workflows/reusable_ici.yml
  .github/workflows/reusable_ici_build.yml
  .github/workflows/reusable_ici_integration_test.yml
  ci_status.md
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/dashboard_client.py
  ur_robot_driver/test/example_move.py
  ur_robot_driver/test/integration_test_component_lifecycle.py
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_force_mode.py
  ur_robot_driver/test/integration_test_friction_model.py
  ur_robot_driver/test/integration_test_hand_back_control.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_robot_models.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/integration_test_tool_contact.py
  ur_robot_driver/test/integration_test_trajectory_until.py
  ur_robot_driver/test/launch_args.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/urscript_interface.py
Due: ament_lint_cmake

Update ur_robot_driver/src/trajectory_until_node.cpp
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix skipping ursim tests in ici build stage
  .github/colcon_defaults_ici.yaml
  .github/workflows/reusable_ici_build.yml
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Re-use the ICI container for running the integration tests
  .github/workflows/reusable_ici.yml
  .github/workflows/reusable_ici_build.yml
  .github/workflows/reusable_ici_integration_test.yml
  ci_status.md
Due: none

Fix newline
  .github/workflows/reusable_ici_build.yml
Due: none

Use console_direct+
  .github/workflows/reusable_ici_build.yml
Due: none

Fix `trajectory_until_node` goal acceptance handshake (#1909)
  ur_robot_driver/src/trajectory_until_node.cpp
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: ament_cppcheck, ament_cpplint, clang-format

Make it one line
  .github/workflows/reusable_ici_build.yml
Due: none

Do not set -u
  .github/workflows/reusable_ici_build.yml
  .github/workflows/reusable_ici_integration_test.yml
Due: none

Add realtime_tools dependency to ur_robot_driver
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/package.xml
Due: ament_lint_cmake

Start ursim in the background
  .github/workflows/reusable_ici_integration_test.yml
Due: none

Restore src path
  .github/workflows/reusable_ici_build.yml
  .github/workflows/reusable_ici_integration_test.yml
Due: none

Add program folders for ursim
  .github/dockerursim/.vol/default.installation
  .github/dockerursim/.vol/default.variables
  .github/dockerursim/.vol/programs.UR5
  .github/dockerursim/Dockerfile
  .github/dockerursim/build_and_run_docker_ursim.sh
  .github/dockerursim/safety.conf.UR5
  .github/dockerursim/ursim/run
  .github/dockerursim/ursim_storage/10.12.0/ur15/programs/00000000000.xd
  .github/dockerursim/ursim_storage/10.12.0/ur15/programs/blobs/version
  .github/dockerursim/ursim_storage/10.12.0/ur15/programs/xd.lck
  .github/dockerursim/ursim_storage/3.15.8/ur10/programs/default.installation
  .github/dockerursim/ursim_storage/3.15.8/ur10/programs/default.variables
  .github/dockerursim/ursim_storage/latest/ur30/programs/default.installation
  .github/dockerursim/ursim_storage/latest/ur30/programs/default.variables
  .github/workflows/reusable_ici_integration_test.yml
Due: none

Add realtime_tools dependency to ur_robot_driver (#1916)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/package.xml
Due: ament_lint_cmake

Add wait_robot_booted.py script
  .github/workflows/reusable_ici_integration_test.yml
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/scripts/wait_robot_booted.py
  ur_robot_driver/test/test_common.py
Due: ament_lint_cmake
