Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Adding retries for the sleep
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.4.12
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Added missing includes
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fixed wrong names and missing declarations
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Added parameters and freedrive_mode_controller to list
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/src/freedrive_mode_controller_parameters.yaml
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_lint_cmake

Added interfaces to hardware_interface
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Move logging to function that's only called once
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

[SJTC] Make scaling interface optional
  ur_controllers/include/ur_controllers/scaled_joint_trajectory_controller.hpp
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

[SJTC] Make scaling interface optional (#1145)
  ur_controllers/include/ur_controllers/scaled_joint_trajectory_controller.hpp
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

fix: recreate urcl log handler pointer if necessary
  ur_robot_driver/src/urcl_log_handler.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Removed useless dependencies from old version
  ur_controllers/CMakeLists.txt
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Removed joint-related command and state interfaces
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Added WaitForAsyncCommand
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Missing dependencies and removed result reference
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

README: Center family photo (#1122)
  README.md
Due: none

Pass `use_sim_time` to MoveIt's RViz instance
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

Added freedrive to launch files
  ur_controllers/package.xml
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/launch/ur10.launch.py
  ur_robot_driver/launch/ur10e.launch.py
  ur_robot_driver/launch/ur16e.launch.py
  ur_robot_driver/launch/ur20.launch.py
  ur_robot_driver/launch/ur3.launch.py
  ur_robot_driver/launch/ur30.launch.py
  ur_robot_driver/launch/ur3e.launch.py
  ur_robot_driver/launch/ur5.launch.py
  ur_robot_driver/launch/ur5e.launch.py
  ur_robot_driver/launch/ur_control.launch.py
Due: none

First version of the hardware interface
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Updated command interfaces and fixed overlapping name
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Pass `use_sim_time` to MoveIt's RViz instance (#1144)
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

Disable link checks for architecture_coarse.svg
  .github/workflows/check_links.yml
Due: none

Remove superflous cmd interface write
  ur_controllers/src/force_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add required command interfaces to xacro
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Fix command interface names
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Disable starting force_mode_controller with joint streaming
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Do not activate force_mode_controller by default
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Added enable interface
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Update logic
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Move force_mode communication from AsyncIO to write
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Exclude opensource.org/licenses/BSD-3-Clause
  .github/workflows/check_links.yml
Due: none

Check passthrough trajectory controller from write function
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fixed not updating async value
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Code cleanup
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Disable link checks for architecture_coarse.svg (#1142)
  .github/workflows/check_links.yml
Due: none

Add missing state interfaces for get_robot_software_version
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Add missing state interfaces for get_robot_software_version (#1153)
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

[moveit] Properly handle use_sim_time
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
