Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

2.6.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Prepare changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

3.1.1
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Remove direct yaml-cpp include
  ur_calibration/CMakeLists.txt
  ur_calibration/package.xml
Due: ament_lint_cmake

Use modern CMake to link against yaml-cpp
  ur_calibration/CMakeLists.txt
  ur_calibration/package.xml
Due: ament_lint_cmake

Update upstream workspace to branched out jazzy versions
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Fix links to forward command controllers
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Add github url to usage/controllers.rst
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Use modern CMake to link against yaml-cpp (#1295)
  ur_calibration/CMakeLists.txt
  ur_calibration/package.xml
Due: ament_lint_cmake

Update upstream workspace to branched out jazzy versions (#1297)
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Fix links to forward command controllers (#1303)
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Add tool_contact_controllert to controller_switch tests
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
Due: ament_cppcheck, ament_cpplint, clang-format

Update controller documentation
  ur_controllers/doc/index.rst
Due: none

Use escaped parentheses in script_directory_url
  ur_controllers/doc/index.rst
Due: none

passthrough_trajectory: Add a test with a full quintic trajectory
  ur_robot_driver/test/robot_driver.py
Due: none

Check for state interfaces being present before attempting to read from it
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove semi-binary-testing builds
  .github/workflows/humble-semi-binary-testing.yml
  .github/workflows/jazzy-semi-binary-testing.yml
  .github/workflows/rolling-semi-binary-testing.yml
Due: none

Remove github.job from cache identifier
  .github/workflows/reusable_ici.yml
Due: none

Do not require setting an upstream workspace
  .github/workflows/coverage-build.yml
  .github/workflows/humble-binary-main.yml
  .github/workflows/humble-binary-testing.yml
  .github/workflows/jazzy-binary-main.yml
  .github/workflows/jazzy-binary-testing.yml
  .github/workflows/reusable_ici.yml
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  Universal_Robots_ROS2_Driver-not-released.jazzy.repos
  Universal_Robots_ROS2_Driver-not-released.rolling.repos
Due: none

Add hardware_interface_testing as test_depend for ur_controllers
  ur_controllers/package.xml
Due: none

forward command interface to state interface
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

outsourced updateNonDoubleValues() in helper: build and launch successfull
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

outsourced export_state_interfaces() in helper: build and launch successfull
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix passthrough controller to not read non-existing state_interfaces (#1314)
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_robot_driver/test/robot_driver.py
Due: ament_cppcheck, ament_cpplint, clang-format

Update ci (#1315)
  .github/workflows/coverage-build.yml
  .github/workflows/humble-binary-main.yml
  .github/workflows/humble-binary-testing.yml
  .github/workflows/humble-semi-binary-testing.yml
  .github/workflows/jazzy-binary-main.yml
  .github/workflows/jazzy-binary-testing.yml
  .github/workflows/jazzy-semi-binary-testing.yml
  .github/workflows/reusable_ici.yml
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-testing.yml
  Universal_Robots_ROS2_Driver-not-released.jazzy.repos
  Universal_Robots_ROS2_Driver-not-released.rolling.repos
  ur_controllers/package.xml
Due: none

outsourced readData() in helper: build and launch successfull
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

outsourced readBitsetData() in helper: build and launch successfull
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Shutdown dashboard client when connected to PolyScopeX robot
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_node.cpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

outsourced quaternion definition
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/include/ur_robot_driver/quaternion.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

outsourced extractToolPose() in helper: build and launch successfull
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

outsourced transformForceTorque() in helper: build and launch successfull
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make robot_state_helper use primary_client whenever possible
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/robot_state_helper.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/dashboard_client_ros.cpp
  ur_robot_driver/src/robot_state_helper.cpp
  ur_robot_driver/src/robot_state_helper_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

outsourced big parts of read() in helper: build uccessfull, but rtde overflow error when launching
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Change status to set_state in start_interfaces
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

fixed some bugs --> launch successfull
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

changed double& tcp_rotation_buffer_x, _y, _z, _w to Quaternion& tcp_rotation_buffer
  ur_robot_driver/include/ur_robot_driver/ur_state_helper.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add support for UR7e and UR12e
  README.md
  ur_moveit_config/launch/ur_moveit.launch.py
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/launch/ur12e.launch.py
  ur_robot_driver/launch/ur7e.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/launch/ur_rsp.launch.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.urdf.xacro
Due: none

Remove semi-binary testing builds from ci_status
  ci_status.md
Due: none
