Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

[Docs] Fix service definition of UpdateProgram (#1723)
  ur_robot_driver/doc/dashboard_client.rst
Due: none

Move RTDE getDataPackage function to configure stage
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

WIP: Use refactored RTDE client without memory allocation
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

[ur_controllers] Remove Werror from CMakeLists (#1720)
  .github/workflows/reusable_ici.yml
  ur_controllers/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Update reusable_ici.yml
  .github/workflows/reusable_ici.yml
Due: none

Delete .github/workflows/reusable_ici.yml
  .github/workflows/reusable_ici.yml
Due: none

Update CMakeLists.txt
  ur_controllers/CMakeLists.txt
Due: ament_lint_cmake

Pass controller config to spawners (#1719)
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Use refactored RTDE client in driver (#1726)
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use integer representation of SafetyStatus.msg
  ur_dashboard_msgs/msg/SafetyStatus.msg
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update hardware_interface.cpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove things not for humble
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Migrate hardware_interface's on_init method (#1464)
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Treat warnings as errors in CI
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
Due: none

[Dashboard Client] Fix linked service definition for update_program service
  ur_robot_driver/doc/ROS_INTERFACE.md
Due: none

Exclude preempt_rt_versions page from link_checker
  .github/workflows/check_links.yml
Due: none

[Docs] Fix linked service definition for update_program service (#1730)
  .github/workflows/check_links.yml
  ur_robot_driver/doc/ROS_INTERFACE.md
Due: none

Use integer representation of SafetyStatus.msg (#1734)
  ur_dashboard_msgs/msg/SafetyStatus.msg
  ur_robot_driver/include/ur_robot_driver/dashboard_client_ros.hpp
  ur_robot_driver/src/dashboard_client_ros.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update driver to use refactored tool communication script (#1721)
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/tool_communication.py
Due: none

Code formatting
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/tool_communication.py
Due: none

Solve merge conflicts
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Code formatting
  ur_robot_driver/scripts/tool_communication.py
Due: none

Fix formatting issues introduced earlier
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/tool_communication.py
Due: none

Fix formatting issues introduced earlier (#1748)
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/tool_communication.py
Due: none

Add deprecation warning for tool comm script
  ur_robot_driver/scripts/tool_communication.py
Due: none

Add friction_mode controller to the loaded controller list
  ur_robot_driver/launch/ur_control.launch.py
Due: none
