Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Removed duplicate entries in ament_export_dependencies
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

fixed motion_primitives_forward_controller included
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

fixed missing ,
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

pre-commit fixes
  ur_robot_driver/examples/send_dummy_motion_primitives_hka_ur10e.py
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

removed send_joint_positions.py
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/examples/send_joint_positions.py
Due: ament_lint_cmake

removed hka in send_dummy_motion_primitives_hka_ur10e.py
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/examples/send_dummy_motion_primitives_ur10e.py
Due: ament_lint_cmake

changed license in send_dummy_motion_primitives_ur10e.py from apache 2.0 to BSD-3
  ur_robot_driver/examples/send_dummy_motion_primitives_ur10e.py
Due: none

ur_moveit_config: Assure the description is loaded as string
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

Fixed formatting
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

Changed rolling.repos file for ros2_controllers and control_msgs. Need to revert the change after the PRs are merged.
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Add migration of ros2_control node to migration notes
  ur_robot_driver/doc/migration/jazzy.rst
Due: none

Using https://github.com/UniversalRobots/Universal_Robots_Client_Library/pull/359 to register multiple callbacks.
  Universal_Robots_ROS2_Driver.rolling.repos
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

modified z position in send_dummy_motion_primitives_ur10e.py
  ur_robot_driver/examples/send_dummy_motion_primitives_ur10e.py
Due: none

ur_moveit_config: Assure the description is loaded as string (#1452)
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

FIx until node CMAKE
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Rewrite to use a variant for the until type
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

add trajectory until node
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Work done so far.
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Trajectory until node functionality complete
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Write tests for trajectory until node
  ur_robot_driver/src/trajectory_until_node.cpp
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: ament_cppcheck, ament_cpplint, clang-format

Move TIMEOUT_EXECUTE_TRAJECTORY to test_common file
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

Add documentation
  ur_robot_driver/doc/index.rst
  ur_robot_driver/doc/trajectory_until_node.rst
Due: none

Clean up and comments
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/src/trajectory_until_node.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

pre-commit changes
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/doc/trajectory_until_node.rst
  ur_robot_driver/include/ur_robot_driver/trajectory_until_node.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/trajectory_until_node.cpp
  ur_robot_driver/test/integration_test_trajectory_until.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Revert "Apply renaming of member variables of JTC (#1275)"
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

something got duplicated, removing
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Robot driver tests pass with mock hardware
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

Reapply "Apply renaming of member variables of JTC (#1275)"
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Running integration tests with mock hardware
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Split passthrough controller tests to its own file.
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

Move all mock harrdware tests in to their own file
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/test_mock_hardware.py
Due: none

finish splitting passthrough controller tests
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none

Add mock hardware test description
  ur_robot_driver/test/test_common.py
Due: none

formatting
  ur_robot_driver/test/test_common.py
Due: none

Split integration tests out to one file per controller
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
Due: none

Remove controller switching tests
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Add the separate tests to cmake file
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

add mock hardware test to build tests
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

Remove passthrough test from sjtc test script
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
Due: none

Clean up test description generators
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
