Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Fix if statement for claimed interfaces
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add MoveIt to upstream workspace
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Update to changed message definition
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/src/force_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Added first test for force_mode_controller
  ur_controllers/CMakeLists.txt
  ur_controllers/test/force_mode_controller_params.yaml
  ur_controllers/test/test_load_force_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Fix interface compatibility check in prepare_switch
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Move force_mode_controller integration test to separate file
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/test/integration_test_force_mode.py
  ur_robot_driver/test/robot_driver.py
Due: ament_lint_cmake

Cleanup workflows (#1177)
  .github/workflows/humble-binary-main.yml
  .github/workflows/humble-binary-testing.yml
  .github/workflows/humble-semi-binary-main.yml
  .github/workflows/humble-semi-binary-testing.yml
  .github/workflows/iron-binary-main.yml
  .github/workflows/iron-binary-testing.yml
  .github/workflows/iron-semi-binary-main.yml
  .github/workflows/iron-semi-binary-testing.yml
  .github/workflows/jazzy-binary-main.yml
  .github/workflows/jazzy-binary-testing.yml
  .github/workflows/jazzy-semi-binary-main.yml
  .github/workflows/jazzy-semi-binary-testing.yml
  .github/workflows/reusable_ici.yml
  .github/workflows/rolling-binary-main.yml
  .github/workflows/rolling-binary-testing.yml
  .github/workflows/rolling-semi-binary-main.yml
  .github/workflows/rolling-semi-binary-testing.yml
  Universal_Robots_ROS2_Driver.jazzy.repos
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

Added missing dependency
  ur_robot_driver/package.xml
Due: none

Use pose_broadcaster to publish the TCP pose (#1108)
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/package.xml
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix interface compatibility check in prepare_switch (with tests)
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/test_common.py
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Remove superflous line
  ur_controllers/src/passthrough_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add trajectory passthrough controller (#944)
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/doc/index.rst
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/package.xml
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_controllers/src/passthrough_trajectory_controller_parameters.yaml
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur10.launch.py
  ur_robot_driver/launch/ur10e.launch.py
  ur_robot_driver/launch/ur16e.launch.py
  ur_robot_driver/launch/ur20.launch.py
  ur_robot_driver/launch/ur3.launch.py
  ur_robot_driver/launch/ur30.launch.py
  ur_robot_driver/launch/ur3e.launch.py
  ur_robot_driver/launch/ur5.launch.py
  ur_robot_driver/launch/ur5e.launch.py
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/scripts/example_move.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Remove beta feature warning
  ur_controllers/src/force_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Code formatting
  ur_controllers/src/force_mode_controller.cpp
  ur_controllers/test/test_load_force_mode_controller.cpp
  ur_robot_driver/test/integration_test_force_mode.py
Due: ament_cppcheck, ament_cpplint, clang-format

Verify inputs
  ur_controllers/src/force_mode_controller.cpp
  ur_robot_driver/test/integration_test_force_mode.py
Due: ament_cppcheck, ament_cpplint, clang-format

Remove unused parameters
  ur_controllers/src/force_mode_controller_parameters.yaml
Due: none

Make sure (and test) that the robot stops when force_mode controller is stopped
  ur_controllers/src/force_mode_controller.cpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_force_mode.py
Due: ament_cppcheck, ament_cpplint, clang-format

Added check (with tests) for gain_scaling and damping_factor limits
  ur_controllers/src/force_mode_controller.cpp
  ur_robot_driver/test/integration_test_force_mode.py
Due: ament_cppcheck, ament_cpplint, clang-format

Add basic documentation about force_mode controller
  ur_controllers/doc/index.rst
  ur_robot_driver/doc/usage/controllers.rst
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.3.12
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Removed legacy from action server version
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_robot_driver/launch/ur_control.launch.py
Due: ament_cppcheck, ament_cpplint, clang-format

Fixed format from merge and removed old version
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Adapted freedrive to new command_switch
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

First of version of the topic-based implementation
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix format
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_controllers/src/freedrive_mode_controller_parameters.yaml
Due: ament_cppcheck, ament_cpplint, clang-format

Fixed print location for received commands
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

First version with timer
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fix to start timer only for relevant msgs
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Make sure tests use floating point numbers
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

Fix Format
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update RealTimeBox
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

realtime box API change
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Cleanup and more name convention
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Proper handling of controller conflicts
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format
