Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

added/ modified copyright headers
  ur_robot_driver/examples/send_dummy_motion_primitives.py
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/include/ur_robot_driver/motion_primitives_ur_driver.hpp
  ur_robot_driver/include/ur_robot_driver/stateinterface_helper.hpp
  ur_robot_driver/include/ur_robot_driver/visibility_control.h
  ur_robot_driver/launch/motion_primitive_controller_ur.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/src/motion_primitives_ur_driver.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

edited readme
  ur_robot_driver/README_MotionPrimitive.md
Due: none

3.2.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

2.7.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_bringup/CHANGELOG.rst
  ur_bringup/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_bringup/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

Update feature list to what is implemented (#1340)
  ur_robot_driver/doc/features.rst
Due: none

Add github_url directives to all rst files (#1336)
  ur_calibration/doc/algorithm.rst
  ur_calibration/doc/index.rst
  ur_calibration/doc/usage.rst
  ur_controllers/doc/index.rst
  ur_moveit_config/doc/index.rst
  ur_moveit_config/doc/migration/jazzy.rst
  ur_robot_driver/doc/controller_stopper.rst
  ur_robot_driver/doc/dashboard_client.rst
  ur_robot_driver/doc/features.rst
  ur_robot_driver/doc/hardware_interface_parameters.rst
  ur_robot_driver/doc/index.rst
  ur_robot_driver/doc/installation/installation.rst
  ur_robot_driver/doc/installation/robot_setup.rst
  ur_robot_driver/doc/installation/toc.rst
  ur_robot_driver/doc/migration/jazzy.rst
  ur_robot_driver/doc/operation_modes.rst
  ur_robot_driver/doc/overview.rst
  ur_robot_driver/doc/robot_state_helper.rst
  ur_robot_driver/doc/setup_tool_communication.rst
  ur_robot_driver/doc/usage/controllers.rst
  ur_robot_driver/doc/usage/move.rst
  ur_robot_driver/doc/usage/script_code.rst
  ur_robot_driver/doc/usage/simulation.rst
  ur_robot_driver/doc/usage/startup.rst
  ur_robot_driver/doc/usage/toc.rst
Due: none

Disable enforcing command limits
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Disable enforcing command limits (#1342)
  ur_robot_driver/config/ur_controllers.yaml
Due: none

3.2.1
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Only append to start_modes in prepare_switch
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove leftover merge artifact
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

tool_contact_test: Check result status directly
  ur_robot_driver/test/integration_test_tool_contact.py
Due: none

Move all mock harrdware tests in to their own file
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Split passthrough controller tests to its own file.
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

Robot driver tests pass with mock hardware
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
Due: none

something got duplicated, removing
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Add mock hardware test description
  ur_robot_driver/test/test_common.py
Due: none

Add the separate tests to cmake file
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

finish splitting passthrough controller tests
  ur_robot_driver/test/integration_test_passthrough_controller.py
Due: none

Split integration tests out to one file per controller
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_controller_switch.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
Due: none

Running integration tests with mock hardware
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Revert "Apply renaming of member variables of JTC (#1275)"
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

formatting
  ur_robot_driver/test/test_common.py
Due: none

Reapply "Apply renaming of member variables of JTC (#1275)"
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove controller switching tests
  ur_robot_driver/test/test_mock_hardware.py
Due: none

add mock hardware test to build tests
  ur_robot_driver/CMakeLists.txt
Due: ament_lint_cmake

tool_contact_test: Check result status directly (#1345)
  ur_robot_driver/test/integration_test_tool_contact.py
Due: none

Only append to start_modes in prepare_switch (#1344)
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

removed visibility control
  ur_robot_driver/include/ur_robot_driver/motion_primitives_ur_driver.hpp
  ur_robot_driver/include/ur_robot_driver/visibility_control.h
Due: ament_cppcheck, ament_cpplint, clang-format

Add CI for ROS Kilted Kaiju
  .github/workflows/kilted-binary-main.yml
  .github/workflows/kilted-binary-testing.yml
  .github/workflows/kilted-semi-binary-main.yml
  Universal_Robots_ROS2_Driver.kilted.repos
Due: none

Add Kilted to the README
  README.md
Due: none

Add troubleshooting section about handling ABI breaks
  ur_robot_driver/doc/usage/toc.rst
Due: none

Update ci_status as well
  ci_status.md
Due: none

Make check_starting_point of test_move launch files configurable
  ur_robot_driver/config/test_goal_publishers_config.yaml
  ur_robot_driver/doc/usage/move.rst
  ur_robot_driver/launch/test_joint_trajectory_controller.launch.py
  ur_robot_driver/launch/test_scaled_joint_trajectory_controller.launch.py
Due: none

added demo video to readme
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/doc/motion_primitive_ur_driver/motion_primitive_demo_video_preview.png
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
