Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D401,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  # The same options as in ament_cppcheck are used, but its not working...
  #- repo: https://github.com/pocc/pre-commit-hooks
    #rev: v1.1.1
    #hooks:
      #- id: cppcheck
        #args: ['--error-exitcode=1', '-f', '--inline-suppr', '-q', '-rp', '--suppress=internalAstError', '--suppress=unknownMacro', '--verbose']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=120"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system
        args: ['--exclude', 'ur_robot_driver/doc/conf.py', 'ur_calibration/doc/conf.py']

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: \.(svg|pyc|drawio)$

Modified rolling repos since https://github.com/ros-controls/control_msgs/pull/228 got merged
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

pass full interface names to the controller (such as $(var tf_prefix)motion_primitive/q1)
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

argument_name --> name, argument_value --> value
  ur_robot_driver/examples/send_dummy_motion_primitives_ur10e.py
Due: none

fix config controller test
  ur_robot_driver/test/integration_test_config_controller.py
Due: none

Clean up all the test setups and remove irrelevant tests
  ur_robot_driver/test/integration_test_config_controller.py
  ur_robot_driver/test/integration_test_io_controller.py
  ur_robot_driver/test/integration_test_passthrough_controller.py
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/test_mock_hardware.py
Due: none

remove mock hardware parameter from setUpClass
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Move sjtc trajectory and illegal trajectory test to test_common, so it can be used by mock hardware test as well.
  ur_robot_driver/test/integration_test_scaled_joint_controller.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/test/test_mock_hardware.py
Due: none

Migrate hardware_interface's on_init method
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add scaling parameters to upstream JTC
  ur_robot_driver/config/ur_controllers.yaml
Due: none

add pr_control gpio to xacro
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

First implementation of a controller accessing PD control
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/include/ur_controllers/pd_torque_controller.hpp
  ur_controllers/src/pd_torque_controller.cpp
  ur_controllers/src/pd_torque_controller_parameters.yaml
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Use a pose subscriber for task frame
  ur_controllers/include/ur_controllers/pd_torque_controller.hpp
  ur_controllers/src/pd_torque_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add a test loading the PDTorqueController
  ur_controllers/CMakeLists.txt
  ur_controllers/test/pd_torque_controller_params.yaml
  ur_controllers/test/test_load_pd_torque_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Add migration of ros2_control node to migration notes (#1458)
  ur_robot_driver/doc/migration/jazzy.rst
Due: none

Use hpp headers from geometry2
  ur_calibration/src/calibration_correction.cpp
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add semi-binary-testing workflows for kilted and rolling
  .github/workflows/kilted-semi-binary-testing.yml
  .github/workflows/rolling-semi-binary-testing.yml
Due: none

Add backwards-compatibility in including tf2_ros headers
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add scaling parameters to upstream JTC (#1465)
  ur_robot_driver/config/ur_controllers.yaml
Due: none

Use hpp headers from geometry2 (#1467)
  .github/workflows/kilted-semi-binary-testing.yml
  .github/workflows/rolling-semi-binary-testing.yml
  ur_calibration/src/calibration_correction.cpp
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Migrate hardware_interface's on_init method (#1464)
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Fixes
  ur_controllers/src/pd_torque_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Add example
  ur_robot_driver/examples/pd_torque_controller.py
Due: none

ur_configuration_controller: use try_set on RTBox
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

edited readme
  ur_robot_driver/README_MotionPrimitive.md
  ur_robot_driver/doc/motion_primitive_ur_driver/moprim_forward_controller_ur_demo_thumbnail.png
  ur_robot_driver/doc/motion_primitive_ur_driver/motion_primitive_demo_video_preview.png
Due: none

Changed back Universal_Robots_Client_Library in rolling.repos because https://github.com/UniversalRobots/Universal_Robots_Client_Library/pull/359 got merged
  Universal_Robots_ROS2_Driver.rolling.repos
Due: none

fixed bsd-3 license link in readme
  ur_robot_driver/README_MotionPrimitive.md
Due: none

Make sure pd_torque_controller is properly stopped
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/test/integration_test_controller_switch.py
Due: ament_cppcheck, ament_cpplint, clang-format

removed second ur_driver_->registerToolContactResultCallback()
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove temp variable
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

ur_configuration_controller: use try_set on RTBox (#1470)
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

4.1.0
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

removed stop thread
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

changed implementation for current_moprim_execution_status_ after instruction_executor_ execution is done
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Replaced moprim_cmd_mutex_ with realtime_tools::LockFreeSPSCQueue<std::array<double, 25>, 1> → therefore changed command and state interfaces from std::vector<double> to std::array<double, 25>.
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, clang-format
