Repository UniversalRobots/Universal_Robots_ROS2_Driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=120

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Update changelogs for upcoming release
  ur/CHANGELOG.rst
  ur_calibration/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_dashboard_msgs/CHANGELOG.rst
  ur_moveit_config/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

3.0.1
  ur/CHANGELOG.rst
  ur/package.xml
  ur_calibration/CHANGELOG.rst
  ur_calibration/package.xml
  ur_controllers/CHANGELOG.rst
  ur_controllers/package.xml
  ur_dashboard_msgs/CHANGELOG.rst
  ur_dashboard_msgs/package.xml
  ur_moveit_config/CHANGELOG.rst
  ur_moveit_config/package.xml
  ur_robot_driver/CHANGELOG.rst
  ur_robot_driver/package.xml
Due: none

Add instructions for enabling necessary services and remote control
  ur_robot_driver/doc/installation/initial_setup_images/remote_control.png
  ur_robot_driver/doc/installation/initial_setup_images/services_ps5_xx.png
  ur_robot_driver/doc/installation/initial_setup_images/services_psx.jpg
  ur_robot_driver/doc/installation/robot_setup.rst
Due: none

Intermediate commit
  ur_controllers/CMakeLists.txt
  ur_controllers/controller_plugins.xml
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_controllers/src/tool_contact_controller_parameters.yaml
Due: ament_cppcheck, ament_cpplint, clang-format, ament_lint_cmake

Change filenames
  ur_robot_driver/doc/installation/initial_setup_images/services_polyscope5.png
  ur_robot_driver/doc/installation/initial_setup_images/services_polyscopex.jpg
  ur_robot_driver/doc/installation/robot_setup.rst
Due: none

intermediate coomit
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Remove real-time client interface from list of services.
  ur_robot_driver/doc/installation/robot_setup.rst
Due: none

Add instructions for enabling necessary services and remote control (#1224)
  ur_robot_driver/doc/installation/initial_setup_images/remote_control.png
  ur_robot_driver/doc/installation/initial_setup_images/services_polyscope5.png
  ur_robot_driver/doc/installation/initial_setup_images/services_polyscopex.jpg
  ur_robot_driver/doc/installation/robot_setup.rst
Due: none

Running integration tests with mock hardware
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/test/robot_driver.py
  ur_robot_driver/test/test_common.py
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: none

Add information about which driver features dont work with mock hardware.
  ur_robot_driver/doc/usage/simulation.rst
Due: none

Update ur_robot_driver/doc/usage/simulation.rst
  ur_robot_driver/doc/usage/simulation.rst
Due: none

Fix rst formatting
  ur_robot_driver/doc/usage/simulation.rst
Due: none

Update link to secondary program documentation
  ur_robot_driver/README.md
Due: none

Add information about which driver features dont work with mock hardware (#1227)
  ur_robot_driver/README.md
  ur_robot_driver/doc/usage/simulation.rst
Due: none

Tool contact controller is functional
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/gpio_controller.cpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Intermediate commit
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Disable pose broadcaster on mock hardware
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Disable pose broadcaster on mock hardware (#1229)
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Update ur_control.launch.py
  ur_robot_driver/launch/ur_control.launch.py
Due: none

use_mock_hardware -> use_fake_hardware
  ur_robot_driver/launch/ur_control.launch.py
Due: none

Update realtime_tools header extensions
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Handle nodiscard return value of command_interface.set_value
  ur_controllers/src/force_mode_controller.cpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_controllers/src/gpio_controller.cpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

Use new path of including generated parameter headers
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/include/ur_controllers/scaled_joint_trajectory_controller.hpp
  ur_controllers/include/ur_controllers/speed_scaling_state_broadcaster.hpp
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
Due: ament_cppcheck, ament_cpplint, clang-format

Update pre-commit the same as on the main branch
  .pre-commit-config.yaml
Due: none

Fix typo in changelog
  ur_bringup/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

Tool contact controller works when used with an action. Chaining is still untested. I have not done anything with starting and stopping the controller yet.
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/gpio_controller.cpp
  ur_controllers/src/tool_contact_controller.cpp
  ur_robot_driver/include/ur_robot_driver/hardware_interface.hpp
  ur_robot_driver/src/hardware_interface.cpp
  ur_robot_driver/urdf/ur.ros2_control.xacro
Due: ament_cppcheck, ament_cpplint, clang-format

Update pre-commit the same as on the main branch (#1232)
  .pre-commit-config.yaml
  ur_bringup/CHANGELOG.rst
  ur_controllers/CHANGELOG.rst
  ur_robot_driver/CHANGELOG.rst
Due: none

Add version check and fix formatting
  ur_controllers/include/ur_controllers/tool_contact_controller.hpp
  ur_controllers/src/tool_contact_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

started writing integration tests
  ur_controllers/src/tool_contact_controller_parameters.yaml
  ur_robot_driver/CMakeLists.txt
  ur_robot_driver/config/ur_controllers.yaml
  ur_robot_driver/launch/ur_control.launch.py
  ur_robot_driver/test/integration_test_tool_contact.py
  ur_robot_driver/test/test_common.py
Due: ament_lint_cmake

Add missing generate_parameter_library dependency in package.xml
  ur_controllers/package.xml
Due: none

ur_moveit_config: Do not change default controller when using fake hardware
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

ur_moveit_config: Do not change default controller when using fake hardware (#1237)
  ur_moveit_config/launch/ur_moveit.launch.py
Due: none

Check quaternions for equal dot_product instead of comparing their components individually
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

Remove all build warnings (#1233)
  ur_controllers/include/ur_controllers/force_mode_controller.hpp
  ur_controllers/include/ur_controllers/freedrive_mode_controller.hpp
  ur_controllers/include/ur_controllers/gpio_controller.hpp
  ur_controllers/include/ur_controllers/passthrough_trajectory_controller.hpp
  ur_controllers/include/ur_controllers/scaled_joint_trajectory_controller.hpp
  ur_controllers/include/ur_controllers/speed_scaling_state_broadcaster.hpp
  ur_controllers/include/ur_controllers/ur_configuration_controller.hpp
  ur_controllers/package.xml
  ur_controllers/src/force_mode_controller.cpp
  ur_controllers/src/freedrive_mode_controller.cpp
  ur_controllers/src/gpio_controller.cpp
  ur_controllers/src/passthrough_trajectory_controller.cpp
  ur_controllers/src/scaled_joint_trajectory_controller.cpp
  ur_controllers/src/ur_configuration_controller.cpp
Due: ament_cppcheck, ament_cpplint, clang-format

fix sphinx doc link in ur_robot_driver
  ur_robot_driver/doc/make.bat
Due: none

update control_toolbox branch
  Universal_Robots_ROS2_Driver.humble.repos
Due: none

fix sphinx doc link in ur_robot_driver (#1240)
  ur_robot_driver/doc/make.bat
Due: none

Check quaternions for equal dot_product instead of comparing their components individually (#1238)
  ur_robot_driver/test/integration_test_force_mode.py
Due: none

update control_toolbox branch (#1241)
  Universal_Robots_ROS2_Driver.humble.repos
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_lint_cmake: any of: CMakeLists.txt$
